# Analysis of Aiforia Microglia IBA1

## Part 0 - Outline
This code handles the automatic processing of raw data from mouse brains analyzed using the Aiforia model “Microglial (IBA1) Activation Detector”. The data are stored in a local folder on the computer, specified within the code. We typically start with CSV files. To automatically change the format of multiple files, please refer to the notebook Change_Name_Format_Input_Data.ipynb.
This notebook is organized into three sections:

**1) Define Functions for Part 2 & 3**

**2) Automatic Analysis of X * N Slides Across N Brains**
In this section, we automate the analysis of all X*N slides corresponding to N brains (X slides per brain, which is a parameter that the user can choose in the code) contained in the folder with raw data. The approach is as follows:

1) All X*N filenames are collected from the folder and stored in a list.

2) From this list, we extract the N filenames containing '_S1', corresponding to the first slide of each brain.

3) We loop over these N '_S1' slides and perform the following steps for each brain:

    a) We retrieve the second slide (with '_S2' in the filename) belonging to this brain. We do the same for the third ('_S3'), fourth ('_S4'), ..., X'th ('_SX')  slides of this brain.   
    b) We perform the analysis steps on each slide individually (S1, S2, …, SX) and on the combined dataset (S1+S2+…+SX).
    c) We export the results to an excel file for this specific brain.
    
After each iteration, the individual brain’s results are added to a summary table containing data for all brains. Once all brains are processed, this overview table is also exported to Excel.

**3) Automatic Analysis of X * N Slides Across N Brains After Determining the (Un)Injected Areas**

In this section, we extend the analysis by identifying which brain regions are on the injected versus non-injected side. The comparison between both sides follows the same analysis workflow as in Section 2.

## Part 1 - Define the necessary functions

### Part 1.1 - Load all necessary Python packages

In [1]:
import functools
import glob
import math
import os

import pandas as pd
from IPython.display import display

# Pandas display options
pd.options.display.float_format = '{:.2f}'.format

### Part 1.2 - Data Locations

**TO DO:**

Specify the following paths before running the analysis:

1) **Raw data format:** choose the file format of the raw data (e.g.: excel, csv).
2) **Some experimental parameters:** spacing between sections and section thickness.
3) **Raw data folder:** the folder containing the original data files exported from Aiforia.
4) **Results folders:** the folders where the Excel files with processed results will be saved.
5) **Region mapping files:** the location of the Excel files that specify which brain regions have to be replaced and were (un)injected.

Use the following format to define each path: <font color='darkred'>r'file_location'</font>

In [2]:
# Specify what data format you want to use for your raw data: excel, csv or feather. Do this by uncommenting the data_format that you want.
data_format = 'csv'
# data_format = 'excel'
# data_format = 'feather'

# Specify the maximum number of slides per brain. For example, if set to 4, filenames should include '_S1', '_S2', '_S3', and '_S4'. 
# If some brains have fewer slides, the code will generate empty data files for the missing ones to ensure proper execution.
amount_of_slides = 2

# Specify the experimental parameters (section_thickness in micrometers!!):
spacing=12
section_thickness = 40  

# Specify folder locations
folder_raw_data = r'C:\Raw_data_IBA1'
folder_output_results = r'C:\Results_Whole_Brain_IBA1'
folder_output_results_injected = r'C:\Results_Hemisphere_IBA1'
file_brainregions_to_replace =  r'C:\Brainregions_To_Replace_IBA1.xlsx'
file_brainregions_injected =  r'C:\Brainregions_Hemisphere_IBA1.xlsx'

In [3]:
# Create output folders if they did not exist yet
if not os.path.isdir(folder_output_results):
    os.mkdir(folder_output_results)
if not os.path.isdir(folder_output_results_injected):
    os.mkdir(folder_output_results_injected)

# Create a list of expected slide suffixes. For example, if amount_of_slides = 4, then appendices_list = ['_S1', '_S2', '_S3', '_S4'].
appendices_list = [f"_S{i}" for i in range(1, amount_of_slides + 1)]

### Part 1.3 – Function to Load All Image Files for Analysis

In [4]:
def load_all_file_locations_S1(folder_raw_data: str, data_format: str) -> list[str]:
    """
    Retrieve and list all file locations for S1 images in the specified raw data folder.

    This function searches for all raw data files (based on the specified data format) 
    within the given folder and filters those containing '_S1' in their filename. 
    These represent the first slides (S1) of each brain. 
    If '_S1'/'_S2' naming is not used, '_S1' should be appended manually to filenames.

    Parameters
    ----------
    folder_raw_data : str
        Path to the folder containing raw data files.
    data_format : str
        Format of the raw data files ('excel', 'csv', or 'feather').

    Returns
    -------
    all_raw_data_file_locations_S1: list[str]
        Sorted list of full file paths for S1 images.
    """

    # Determine the file pattern based on the data format
    if data_format == 'excel':
        pattern = "*.xlsx"
    elif data_format == 'csv':
        pattern = "*.csv"
    elif data_format == 'feather':
        pattern = "*.feather"
    else:
        raise ValueError(
            "Invalid data format specified. Please set 'data_format' to 'excel', 'csv', or 'feather'."
        )

    # Retrieve and sort all matching raw data files
    all_raw_data_file_locations = glob.glob(os.path.join(folder_raw_data, pattern))
    all_raw_data_file_locations.sort()

    print("All raw data file locations:")
    for file_location in all_raw_data_file_locations:
        print(f" - {file_location}")

    # Filter filenames that contain '_S1' (first slides of each brain)
    all_raw_data_file_locations_S1 = [path for path in all_raw_data_file_locations if '_S1' in path]

    print("\nRaw data file locations for S1 images:")
    for file_location_S1 in all_raw_data_file_locations_S1:
        print(f" - {file_location_S1}")

    return all_raw_data_file_locations_S1

### Part 1.4 – Function to Load the Brain Region Correction File

In [5]:
def load_data_brainregions_to_replace(file_brainregions_to_replace: str) -> pd.DataFrame:
    """
    Load and clean the file containing corrections for brain regions that need to be replaced for each image.

    Parameters
    ----------
    file_brainregions_to_replace : str
        Path to the Excel file with columns: 'Image', 'Brainregion_Wrong', 'Brainregion_Correct'.

    Returns
    -------
    pd.DataFrame
        Cleaned DataFrame with brain regions to replace for each image. 
        All brain region names are stripped of spaces and converted to uppercase.
    """
    import pandas as pd
    import os

    if not os.path.exists(file_brainregions_to_replace):
        raise FileNotFoundError(f"The specified file does not exist: {file_brainregions_to_replace}")

    # Load the relevant columns from the Excel file
    df = pd.read_excel(
        file_brainregions_to_replace,
        usecols=['Image', 'Brainregion_Wrong', 'Brainregion_Correct'],
        dtype={'Image': 'str', 'Brainregion_Wrong': 'str', 'Brainregion_Correct': 'str'}
    )

    # Clean the data in place
    df['Image'] = df['Image'].str.strip()
    df['Brainregion_Wrong'] = df['Brainregion_Wrong'].str.upper().str.strip()
    df['Brainregion_Correct'] = df['Brainregion_Correct'].str.upper().str.strip()

    print("The modified table of brain regions to replace for each image:")
    display(df)
    
    return df

### Part 1.5 – Function to Load the File Indicating Which Brain Regions Were Injected

In [6]:
def load_data_brainregions_injected(file_brainregions_injected: str) -> pd.DataFrame:
    """
    Load and clean the file specifying which brain regions were on the injected side for each specific image.

    Parameters
    ----------
    file_brainregions_injected : str
        Path to the Excel file containing injected brain region information.

    Returns
    -------
    pd.DataFrame
        Cleaned DataFrame with columns:
        - 'Image': image identifier
        - 'Brainregion': uppercase, stripped brain region name
        - 'Parent_Injected': uppercase, stripped hemisphere 
        - 'Daughter1_Injected': uppercase, stripped hemisphere 

    """
    if not os.path.exists(file_brainregions_injected):
        raise FileNotFoundError(f"The specified file does not exist: {file_brainregions_injected}")

    # Load relevant columns from the Excel file
    df = pd.read_excel(
        file_brainregions_injected,
        usecols=['Image', 'Brainregion', 'Hemisphere'],
        dtype={'Image': 'str', 'Brainregion': 'str', 'Hemisphere': 'str'}
    )

    # Clean the data in place
    df['Image'] = df['Image'].str.strip()
    df['Brainregion'] = df['Brainregion'].str.upper().str.strip()
    df['Parent_Injected'] = df['Hemisphere'].str.upper().str.strip()
    df['Daughter1_Injected'] = df['Hemisphere'].str.upper().str.strip()

    # Drop the original 'Hemisphere' column
    df.drop(columns=['Hemisphere'], inplace=True)

    print("The modified table of injected brain regions for each image:")
    display(df)
    
    return df

### Part 1.6 – Function to Load a DataFrame and Clean It

In [7]:
def dataframe_cleaning(file_location: str, df_brainregions_to_replace: pd.DataFrame, data_format: str) -> pd.DataFrame:
    """
    Load a data file from the given location and clean it using a brain regions replacement table.
    If the file does not exist, an empty file is created with the correct columns.
    Replaces incorrect brain regions, merges names by removing numbers, filters based on area thresholds,
    and calculates derived metrics like Area/Perimeter and Circularity.
    Returns a cleaned dataframe.

    Parameters
    ----------
    file_location : str
        Path to the raw data file for a single image.
    df_brainregions_to_replace : pd.DataFrame
        DataFrame specifying which brain regions need to be replaced for each image.
    data_format : str
        Format of the raw data file: 'excel', 'csv', or 'feather'.

    Returns
    -------
    pd.DataFrame
        Cleaned dataframe with additional calculated columns.
    """

    # ------------------------
    # Define expected columns and dtypes
    # ------------------------
    columns = [
        'Image', 'Parent area name', 'Area/object name',
        'Class label', 'Area (μm²)', 'Circumference (µm)'
    ]
    dtypes = {
        'Image': 'str',
        'Parent area name': 'str',
        'Area/object name': 'str',
        'Class label': 'str',
        'Area (μm²)': 'float64',
        'Circumference (µm)': 'float64'
    }

    # ------------------------
    # Load or create the data file
    # ------------------------
    try:
        if data_format == 'csv':
            df = pd.read_csv(file_location, sep='\t', usecols=columns, dtype=dtypes, keep_default_na=True)
        elif data_format == 'excel':
            df = pd.read_excel(file_location, usecols=columns, dtype=dtypes, keep_default_na=True)
        elif data_format == 'feather':
            df = pd.read_feather(file_location).astype(dtypes)
        else:
            raise ValueError("Invalid data format. Choose 'excel', 'csv', or 'feather'.")
    except FileNotFoundError:
        # If file doesn't exist, create an empty one and reload
        df_empty = pd.DataFrame(columns=columns)
        df_empty.reset_index(inplace=True)
        if data_format == 'csv':
            df_empty.to_csv(file_location, sep='\t', index=False)
            df = pd.read_csv(file_location, sep='\t', usecols=columns, dtype=dtypes)
        elif data_format == 'excel':
            df_empty.to_excel(file_location, index=False)
            df = pd.read_excel(file_location, usecols=columns, dtype=dtypes)
        elif data_format == 'feather':
            df_empty.to_feather(file_location)
            df = pd.read_feather(file_location).astype(dtypes)
        print(f"\nA dataframe at location {file_location} did not exist, so an empty dataframe was created.")

    # ------------------------
    # Clean up and standardize column values
    # ------------------------
    # Remove rows with missing essential data
    df.dropna(subset=['Parent area name', 'Area (μm²)', 'Area/object name', 'Class label'], inplace=True)

    # Standardize text capitalization
    df['Parent area name'] = df['Parent area name'].str.upper()
    df['Area/object name'] = df['Area/object name'].str.upper()
    df['Class label'] = df['Class label'].str.upper()

    # ------------------------
    # Extract image name from file name
    # ------------------------
    image_name = os.path.splitext(os.path.basename(file_location))[0]
    print('The present image =', image_name)
    
    # Make sure the image name across the whole first Image column is correct
    df['Image'] = image_name

    print('The full raw data =')
    display(df)

    # ------------------------
    # Replace incorrect brain regions
    # ------------------------
    # Create the dictionary of brain regions that should be replaced for this specific image
    df_replacements = df_brainregions_to_replace[df_brainregions_to_replace['Image'] == image_name]
    dict_replace = pd.Series(
        df_replacements.Brainregion_Correct.values,
        index=df_replacements.Brainregion_Wrong
    ).to_dict()

    print(f"The dictionary of brain regions to replace for {image_name} is:", dict_replace)

    # Apply replacements in both parent and Area/object name columns
    df['Parent area name'] = df['Parent area name'].replace(dict_replace, regex=False)
    df['Area/object name'] = df['Area/object name'].replace(dict_replace, regex=False)

    # ------------------------
    # Create a column 'Parent area name merged' and 'Area/object name merged' where the ending numbers are deleted from the original columns:
    # ------------------------
    df['Parent area name merged'] = df['Parent area name'].str.replace(r'\d+$', '', regex=True).str.strip()
    df['Area/object name merged'] = df['Area/object name'].str.replace(r'\d+$', '', regex=True).str.strip()

    # ------------------------
    # Filter unwanted rows
    # ------------------------
    # Remove rows with area < 45 for class label "IBA1 POSITIVE CELL"
    mask_exclude = (df['Area (μm²)'] < 45) & (df['Class label'] == 'IBA1 POSITIVE CELL')
    df = df[~mask_exclude]

    # Remove rows with placeholder EMPTY labels (if created during replacements)
    df = df[(df['Parent area name'] != 'EMPTY') & (df['Area/object name'] != 'EMPTY')]

    # ------------------------
    # Derived metrics
    # ------------------------
    df['Area/Perimeter (μm)'] = df['Area (μm²)'] / df['Circumference (µm)']
    df['Circularity'] = (4 * math.pi * df['Area (μm²)']) / (df['Circumference (µm)'] ** 2)

    print('The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =')
    display(df)

    return df

### Part 1.7 - Function to Create Hierarchical Dataframes

Note: This function is not used for the IBA-1 code, as the hierarchy does not extend to Daughter 3.

Hierarchy:

One type of **Parent:** TISSUE 1, 2, 3 ... \
Many types of **Daughter 1:** AMYGDALA 1, 2, 3, …, STRIATUM 1, 2, 3, …, ...  \
One type of **Daughter 2:** IBA1 POSITIVE CELL 60451, IBA1 POSITIVE CELL 354269, …

In [8]:
def make_hierarchy() -> None:
    """Note: This function is not used for the IBA-1 code, as the hierarchy does not extend to Daughter 3."""
    pass

### Part 1.8 - Function to Calculate all Statistics

In [9]:
def all_calculations(df1: pd.DataFrame, df2: pd.DataFrame, groupby_column1: str = 'Parent area name merged', groupby_column2: str = 'Area/object name merged') -> pd.DataFrame:
    """
    Compute key summary statistics (counts, areas, averages) for hierarchical regions
    based on two dataframes, with optional grouping columns.

    Parameters:
        df1 (pd.DataFrame): dataframe for calculations.
        df2 (pd.DataFrame): dataframe for calculations (can be same as df1 when injected/uninjected is disregarded).
        groupby_column1 (str): Column in df1 to group by.
        groupby_column2 (str): Column in df2 to group by.

    Returns:
        pd.DataFrame: Merged dataframe containing:
            - Counts
            - Total region area
            - Total cell area
            - Average cell area
            - Average Area/Perimeter
            - Average circularity
            - Extrapolated cell count
            - Percentage of IBA1 positive area
            - Cells per region area and volume (mm² and mm³)
    """

    # Count the number of rows for each parent area name merged 
    df_counts_merged = df1[groupby_column1].value_counts().rename_axis('Merged area name') \
                       .reset_index(name='Counts')

    # Count the total area of each Area/object name merged (e.g. Amygdala 1 + Amygdala 7 + ... area)
    df_total_region_area_merged = df2.groupby(groupby_column2, as_index=False)['Area (μm²)'] \
                                     .sum().rename(columns={'Area (μm²)': 'Total Region Area (μm²)',
                                                            groupby_column2: 'Merged area name'})

    # Calculate the total Area (μm²), average Area (μm²), average Area/Perimeter (μm), average Circularity  
    # of the cells belonging to each Parent area name merged
    agg_dict = {
        'Area (μm²)': ['sum', 'mean'],
        'Area/Perimeter (μm)': 'mean',
        'Circularity': 'mean'
    }
    df_stats = df1.groupby(groupby_column1, as_index=False).agg(agg_dict)
    df_stats.columns = ['Merged area name', 'Total Cell Area (μm²)', 'Average Cell Area (μm²)',
                        'Average Area/Perimeter (μm)', 'Average Circularity']

    # Merge all intermediate results
    dfs_to_merge = [df_counts_merged, df_total_region_area_merged, df_stats]
    df_all_calcs_merged = functools.reduce(
        lambda left, right: pd.merge(left, right, on='Merged area name', how='outer'),
        dfs_to_merge
    )

    # Additional derived calculations
    df_all_calcs_merged['Extrapolated Cell Count'] = df_all_calcs_merged['Counts'] * spacing
    df_all_calcs_merged['Percentage IBA1 Positive Area'] = 100 * df_all_calcs_merged['Total Cell Area (μm²)'] / \
                                                          df_all_calcs_merged['Total Region Area (μm²)']
    df_all_calcs_merged['Cells/Region Area (per μm²)'] = df_all_calcs_merged['Counts'] / \
                                                          df_all_calcs_merged['Total Region Area (μm²)']
    df_all_calcs_merged['Cells/Region Volume (per μm³)'] = df_all_calcs_merged['Cells/Region Area (per μm²)'] / section_thickness
    df_all_calcs_merged['Cells/Region Area (mm²)'] = df_all_calcs_merged['Cells/Region Area (per μm²)'] * 1e6
    df_all_calcs_merged['Cells/Region Volume (mm³)'] = df_all_calcs_merged['Cells/Region Volume (per μm³)'] * 1e9

    # Drop intermediate columns
    df_all_calcs_merged.drop(columns=['Cells/Region Area (per μm²)', 'Cells/Region Volume (per μm³)'], inplace=True)

    # Sort for readability
    df_all_calcs_merged.sort_values('Merged area name', inplace=True)

    print('The total Calculations of each group:')
    display(df_all_calcs_merged)

    return df_all_calcs_merged

## Part 2 - Automatic Analysis of all X*N Slides of all N Brains

In [10]:
%%time
# Measure execution time of this cell

# Load the file specifying brain regions to replace/delete for each image
df_brainregions_to_replace = load_data_brainregions_to_replace(file_brainregions_to_replace)

# Get all file names containing '_S1' (first images of all N brains)
all_raw_data_file_locations_S1 = load_all_file_locations_S1(folder_raw_data, data_format)

# Initialize dictionary to store all overview dataframes
dictionary_overview_dataframes = {}


# Loop over all S1 images in the raw_data folder
for count, file_location_S1 in enumerate(all_raw_data_file_locations_S1):

    print(f'\nAnalysis of {file_location_S1}')

    # Extract image name from file path
    image_name_S1 = os.path.splitext(os.path.basename(file_location_S1))[0]

    # Dictionaries to store cleaned dataframes and calculated results for all appendices
    dict_df_SX_final = {}              # e.g., {'_S1' : df_S1_final, '_S2' : df_S2_final, ..., '_SX' : df_SX_final}
    dict_df_SX_all_calcs_merged = {}   # e.g., {'_S1' : df_S1_all_calcs_merged, '_S2' : df_S2_all_calcs_merged, ..., '_SX' : df_SX_all_calcs_merged}

    # Loop over all appendices ('_S1', '_S2', ..., '_SX')
    for appendix in appendices_list:
        # Replace '_S1' in the file path with the current appendix
        file_location = file_location_S1.replace('_S1', appendix)

        # Clean the data using pre-defined function
        dict_df_SX_final[appendix] = dataframe_cleaning(file_location, df_brainregions_to_replace, data_format)

        # Perform all calculations on the cleaned dataframe
        # The except part is for when we have made an empty dataframe because no file was available (will never be the case for appendix =_S1).
        try:
            dict_df_SX_all_calcs_merged[appendix] = all_calculations(dict_df_SX_final[appendix],
                                                                     dict_df_SX_final[appendix])
            print(f"All calculations completed for {appendix} of {file_location}")
            display(dict_df_SX_all_calcs_merged[appendix])
        except:
            pass

    # Concatenate all cleaned dataframes (S1+S2+...+SX)
    df_SX_final_concat = pd.concat(dict_df_SX_final.values(), axis=0)

    # Perform calculations on the concatenated  S1 + S2 + ... + SX dataframe
    try:
        df_SX_all_calcs_concat = all_calculations(df_SX_final_concat, df_SX_final_concat)
        print(f'All calculations completed for concatenated S1+S2+...+SX of {file_location_S1}')
        display(df_SX_all_calcs_concat)
    except:
        pass

    # Save individual and concatenated results to Excel
    output_file_location_SX = os.path.join(
        folder_output_results,
        image_name_S1.replace('_S1', '_SX') + '_Results.xlsx'
    )

    with pd.ExcelWriter(output_file_location_SX) as writer:
        for appendix in appendices_list:
            try:
                dict_df_SX_all_calcs_merged[appendix].to_excel(
                    writer, sheet_name=appendix[1:] + '_Results', index=False, float_format="%.3f"
                )
            except:
                pass  # No SX dataframe was available, and the empty one would lead to errors in the try clause

        df_SX_all_calcs_concat.to_excel(writer, sheet_name='SX_Combined_Results', index=False, float_format="%.3f")


    # Prepare overview Excel file, for which only the df_SX_all_calcs_concat dataframe is needed. 
    # Define calculation columns for overview
    list_calculation_results = [
        'Total Region Area (μm²)', 'Counts', 'Extrapolated Cell Count',
        'Total Cell Area (μm²)', 'Average Cell Area (μm²)', 'Percentage IBA1 Positive Area',
        'Average Area/Perimeter (μm)', 'Average Circularity',
        'Cells/Region Area (mm²)', 'Cells/Region Volume (mm³)',
    ]

    # Exclude unnecessary brain regions
    brainregions_not_needed = ['IBA1 POSITIVE CELL', 'TISSUE']

    # Prepare overview dataframes
    # We will make 1 overview excelfile with a few tabpages that we store in dictionary_overview_dataframes:
    # dictionary_overview_dataframes = {Total Region area: df, Extrapolated Cell Count:df, Cells/Region Area:df, .... }
    for calculation_result in list_calculation_results:
        df_calc = df_SX_all_calcs_concat[['Merged area name', calculation_result]].copy()
        df_calc = df_calc[~df_calc['Merged area name'].isin(brainregions_not_needed)]
        df_calc.rename(columns={calculation_result: image_name_S1.replace('_S1', '').replace('_IBA1', '')}, inplace=True)

        # Merge data into overview dictionary
        if count == 0:
            dictionary_overview_dataframes[calculation_result] = df_calc.copy()
        else:
            dictionary_overview_dataframes[calculation_result] = dictionary_overview_dataframes[calculation_result].merge(
                df_calc, how='outer', on='Merged area name'
            )

    # Clean up memory for next iteration
    del dict_df_SX_final, df_SX_final_concat, df_SX_all_calcs_concat

# Save overview Excel file
output_file_name_overview = os.path.join(folder_output_results, 'Overview_IBA1_Results.xlsx')

with pd.ExcelWriter(output_file_name_overview) as writer:
    for calculation_result in list_calculation_results:
        sheet_name_clean = calculation_result.replace('/', ' per ').replace('Volume', 'Vol')

        print(f'Overview dataframe with all {sheet_name_clean} for all brains')
        display(dictionary_overview_dataframes[calculation_result])
        
        dictionary_overview_dataframes[calculation_result].to_excel(
            writer, sheet_name=sheet_name_clean, index=False, float_format="%.3f"
        )

The modified table of brain regions to replace for each image:

               Image             Brainregion_Wrong Brainregion_Correct
0   131297-4_S1_IBA1                HYPOTHALAMUS 2               EMPTY
1   131297-4_S1_IBA1           NUCLEUS ACCUMBENS 7               EMPTY
2   131297-4_S1_IBA1                MOTOR CORTEX 8               EMPTY
3   131297-4_S1_IBA1                MOTOR CORTEX 9               EMPTY
4   131297-4_S2_IBA1             PIRIFORM CORTEX 1               EMPTY
5   131297-4_S2_IBA1             PIRIFORM CORTEX 2               EMPTY
6   131297-4_S2_IBA1                    MIDBRAIN 4          THALAMUS 6
7   131297-4_S2_IBA1                    AMYGDALA 1               EMPTY
8   131344-1_S1_IBA1                MOTOR CORTEX 4               EMPTY
9   131344-1_S1_IBA1                MOTOR CORTEX 9               EMPTY
10  131344-1_S1_IBA1               MOTOR CORTEX 10               EMPTY
11  131344-1_S1_IBA1        CEREBELLAR PEDUNCLES 1               EMPTY
12  131344-1_S1_IBA1  ANTERIOR OLFACTORY NUCLEUS 1   NUCLEUS ACCUMBENS
13  131344-1_S1_IBA1  ANTERIOR OLFACTORY NUCLEUS 2   NUCLEUS ACCUMBENS
14  131344-1_S2_IBA1                 HIPPOCAMPUS 4               EMPTY
15  131344-1_S2_IBA1                        PONS 2               EMPTY
16  131344-1_S2_IBA1        CEREBELLAR PEDUNCLES 2               EMPTY
17  131344-1_S2_IBA1                    MIDBRAIN 3               EMPTY
18  131344-1_S2_IBA1         PERIAQUEDUCTAL GRAY 5               EMPTY

All raw data file locations:
 - C:\Raw_data_IBA1\131297-4_S1_IBA1.csv
 - C:\Raw_data_IBA1\131297-4_S2_IBA1.csv
 - C:\Raw_data_IBA1\131344-1_S1_IBA1.csv
 - C:\Raw_data_IBA1\131344-1_S2_IBA1.csv

Raw data file locations for S1 images:
 - C:\Raw_data_IBA1\131297-4_S1_IBA1.csv
 - C:\Raw_data_IBA1\131344-1_S1_IBA1.csv

Analysis of C:\Raw_data_IBA1\131297-4_S1_IBA1.csv
The present image = 131297-4_S1_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 1,AMYGDALA,626554.38,NaN
1,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 6,AMYGDALA,400563.50,NaN
2,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 3,AMYGDALA,948588.59,NaN
3,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 5,AMYGDALA,1032931.69,NaN
4,131297-4_S1_IBA1,TISSUE 3,AMYGDALA 2,AMYGDALA,933892.57,NaN
...,...,...,...,...,...,...
70940,131297-4_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,854308.75,NaN
70941,131297-4_S1_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,7884831.90,NaN
70942,131297-4_S1_IBA1,TISSUE 4,THALAMUS 4,THALAMUS,9205204.79,NaN
70943,131297-4_S1_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,5761013.65,NaN
70944,131297-4_S1_IBA1,TISSUE 3,THALAMUS 2,THALAMUS,9339771.19,NaN

The dictionary of brain regions to replace for 131297-4_S1_IBA1 is: {'HYPOTHALAMUS 2': 'EMPTY', 'NUCLEUS ACCUMBENS 7': 'EMPTY', 'MOTOR CORTEX 8': 'EMPTY', 'MOTOR CORTEX 9': 'EMPTY'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
0,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 1,AMYGDALA,626554.38,NaN,TISSUE,AMYGDALA,NaN,NaN
1,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 6,AMYGDALA,400563.50,NaN,TISSUE,AMYGDALA,NaN,NaN
2,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 3,AMYGDALA,948588.59,NaN,TISSUE,AMYGDALA,NaN,NaN
3,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 5,AMYGDALA,1032931.69,NaN,TISSUE,AMYGDALA,NaN,NaN
4,131297-4_S1_IBA1,TISSUE 3,AMYGDALA 2,AMYGDALA,933892.57,NaN,TISSUE,AMYGDALA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70940,131297-4_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,854308.75,NaN,TISSUE,TAENIA TECTA,NaN,NaN
70941,131297-4_S1_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,7884831.90,NaN,TISSUE,THALAMUS,NaN,NaN
70942,131297-4_S1_IBA1,TISSUE 4,THALAMUS 4,THALAMUS,9205204.79,NaN,TISSUE,THALAMUS,NaN,NaN
70943,131297-4_S1_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,5761013.65,NaN,TISSUE,THALAMUS,NaN,NaN
70944,131297-4_S1_IBA1,TISSUE 3,THALAMUS 2,THALAMUS,9339771.19,NaN,TISSUE,THALAMUS,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1647.00,4761166.74,992939.94,602.88,1.95,0.09,19764.00,20.85,345.92,8648.09
1,ANTERIOR COMMISSURE,186.00,517332.80,59861.49,321.84,1.61,0.12,2232.00,11.57,359.54,8988.41
2,CINGULATE CORTEX,2385.00,7611122.48,1429223.45,599.26,1.95,0.09,28620.00,18.78,313.36,7833.93
3,CORPUS CALLOSUM,3853.00,12733989.78,1345606.88,349.24,1.57,0.11,46236.00,10.57,302.58,7564.40
4,FIMBRIA,1692.00,4723946.90,635088.04,375.35,1.64,0.11,20304.00,13.44,358.18,8954.38
5,GLOBUS PALLIDUS,2643.00,5179182.29,1472139.43,557.00,2.21,0.12,31716.00,28.42,510.31,12757.81
6,HIPPOCAMPUS,4917.00,14086129.78,3195776.56,649.94,2.07,0.09,59004.00,22.69,349.07,8726.67
7,HYPOTHALAMUS,6404.00,20178401.93,3421748.96,534.31,1.85,0.10,76848.00,16.96,317.37,7934.23
8,IBA1 POSITIVE CELL,NaN,40608984.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MOTOR CORTEX,6617.00,21851869.51,3940500.47,595.51,1.93,0.09,79404.00,18.03,302.81,7570.29
10,NUCLEUS ACCUMBENS,3021.00,8995057.10,2092465.95,692.64,2.09,0.09,36252.00,23.26,335.85,8396.28
11,PIRIFORM CORTEX,6296.00,18934289.59,3798586.19,603.33,1.95,0.09,75552.00,20.06,332.52,8312.96
12,SEPTAL NUCLEUS,2646.00,9247836.05,1591243.48,601.38,1.90,0.09,31752.00,17.21,286.12,7153.02
13,STRIATUM,16002.00,44612123.73,10028217.32,626.69,2.02,0.09,192024.00,22.48,358.69,8967.29
14,TAENIA TECTA,285.00,854308.75,186624.76,654.82,2.10,0.10,3420.00,21.85,333.60,8340.08
15,THALAMUS,10497.00,32190821.54,6418961.66,611.50,1.89,0.09,125964.00,19.94,326.09,8152.17
16,TISSUE,117.00,NaN,206477578.96,1764765.63,NaN,NaN,1404.00,NaN,NaN,NaN

All calculations completed for _S1 of C:\Raw_data_IBA1\131297-4_S1_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1647.00,4761166.74,992939.94,602.88,1.95,0.09,19764.00,20.85,345.92,8648.09
1,ANTERIOR COMMISSURE,186.00,517332.80,59861.49,321.84,1.61,0.12,2232.00,11.57,359.54,8988.41
2,CINGULATE CORTEX,2385.00,7611122.48,1429223.45,599.26,1.95,0.09,28620.00,18.78,313.36,7833.93
3,CORPUS CALLOSUM,3853.00,12733989.78,1345606.88,349.24,1.57,0.11,46236.00,10.57,302.58,7564.40
4,FIMBRIA,1692.00,4723946.90,635088.04,375.35,1.64,0.11,20304.00,13.44,358.18,8954.38
5,GLOBUS PALLIDUS,2643.00,5179182.29,1472139.43,557.00,2.21,0.12,31716.00,28.42,510.31,12757.81
6,HIPPOCAMPUS,4917.00,14086129.78,3195776.56,649.94,2.07,0.09,59004.00,22.69,349.07,8726.67
7,HYPOTHALAMUS,6404.00,20178401.93,3421748.96,534.31,1.85,0.10,76848.00,16.96,317.37,7934.23
8,IBA1 POSITIVE CELL,NaN,40608984.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MOTOR CORTEX,6617.00,21851869.51,3940500.47,595.51,1.93,0.09,79404.00,18.03,302.81,7570.29
10,NUCLEUS ACCUMBENS,3021.00,8995057.10,2092465.95,692.64,2.09,0.09,36252.00,23.26,335.85,8396.28
11,PIRIFORM CORTEX,6296.00,18934289.59,3798586.19,603.33,1.95,0.09,75552.00,20.06,332.52,8312.96
12,SEPTAL NUCLEUS,2646.00,9247836.05,1591243.48,601.38,1.90,0.09,31752.00,17.21,286.12,7153.02
13,STRIATUM,16002.00,44612123.73,10028217.32,626.69,2.02,0.09,192024.00,22.48,358.69,8967.29
14,TAENIA TECTA,285.00,854308.75,186624.76,654.82,2.10,0.10,3420.00,21.85,333.60,8340.08
15,THALAMUS,10497.00,32190821.54,6418961.66,611.50,1.89,0.09,125964.00,19.94,326.09,8152.17
16,TISSUE,117.00,NaN,206477578.96,1764765.63,NaN,NaN,1404.00,NaN,NaN,NaN

The present image = 131297-4_S2_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131297-4_S2_IBA1,TISSUE 4,AMYGDALA 1,AMYGDALA,600990.71,NaN
1,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,182142.57,NaN
2,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 2,CEREBELLAR PEDUNCLES,716520.23,NaN
3,131297-4_S2_IBA1,TISSUE 4,FIMBRIA 1,FIMBRIA,359443.06,NaN
4,131297-4_S2_IBA1,TISSUE 4,HIPPOCAMPUS 1,HIPPOCAMPUS,3142527.89,NaN
...,...,...,...,...,...,...
27989,131297-4_S2_IBA1,TISSUE 4,THALAMUS 6,THALAMUS,2920995.17,NaN
27990,131297-4_S2_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,1269844.60,NaN
27991,131297-4_S2_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,1470889.70,NaN
27992,131297-4_S2_IBA1,TISSUE 3,THALAMUS 4,THALAMUS,342026.67,NaN
27993,131297-4_S2_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,730363.64,NaN

The dictionary of brain regions to replace for 131297-4_S2_IBA1 is: {'PIRIFORM CORTEX 1': 'EMPTY', 'PIRIFORM CORTEX 2': 'EMPTY', 'MIDBRAIN 4': 'THALAMUS 6', 'AMYGDALA 1': 'EMPTY'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
1,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,182142.57,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
2,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 2,CEREBELLAR PEDUNCLES,716520.23,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
3,131297-4_S2_IBA1,TISSUE 4,FIMBRIA 1,FIMBRIA,359443.06,NaN,TISSUE,FIMBRIA,NaN,NaN
4,131297-4_S2_IBA1,TISSUE 4,HIPPOCAMPUS 1,HIPPOCAMPUS,3142527.89,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
5,131297-4_S2_IBA1,TISSUE 4,HIPPOCAMPUS 7,HIPPOCAMPUS,3669325.13,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
27989,131297-4_S2_IBA1,TISSUE 4,THALAMUS 6,THALAMUS,2920995.17,NaN,TISSUE,THALAMUS,NaN,NaN
27990,131297-4_S2_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,1269844.60,NaN,TISSUE,THALAMUS,NaN,NaN
27991,131297-4_S2_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,1470889.70,NaN,TISSUE,THALAMUS,NaN,NaN
27992,131297-4_S2_IBA1,TISSUE 3,THALAMUS 4,THALAMUS,342026.67,NaN,TISSUE,THALAMUS,NaN,NaN
27993,131297-4_S2_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,730363.64,NaN,TISSUE,THALAMUS,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,CEREBELLAR PEDUNCLES,220.00,898662.81,78707.82,357.76,1.91,0.17,2640.00,8.76,244.81,6120.20
1,FIMBRIA,128.00,359443.06,49891.42,389.78,1.75,0.13,1536.00,13.88,356.11,8902.66
2,HIPPOCAMPUS,9121.00,28508599.27,5784361.55,634.18,2.03,0.10,109452.00,20.29,319.94,7998.46
3,HYPOTHALAMUS,1958.00,7136052.24,970388.59,495.60,1.91,0.12,23496.00,13.60,274.38,6859.53
4,IBA1 POSITIVE CELL,NaN,14894836.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MIDBRAIN,8340.00,26592424.36,4291915.87,514.62,1.75,0.09,100080.00,16.14,313.62,7840.58
6,PERIAQUEDUCTAL GRAY,1448.00,4920939.74,764991.01,528.31,1.80,0.10,17376.00,15.55,294.25,7356.32
7,PONS,458.00,1665845.43,186876.54,408.03,2.09,0.17,5496.00,11.22,274.94,6873.39
8,SUBSTANTIA NIGRA,2341.00,5180091.87,1254082.42,535.70,2.10,0.12,28092.00,24.21,451.92,11298.06
9,THALAMUS,3001.00,9372613.49,1513621.07,504.37,1.81,0.10,36012.00,16.15,320.19,8004.70
10,TISSUE,34.00,NaN,84634672.27,2489255.07,NaN,NaN,408.00,NaN,NaN,NaN

All calculations completed for _S2 of C:\Raw_data_IBA1\131297-4_S2_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,CEREBELLAR PEDUNCLES,220.00,898662.81,78707.82,357.76,1.91,0.17,2640.00,8.76,244.81,6120.20
1,FIMBRIA,128.00,359443.06,49891.42,389.78,1.75,0.13,1536.00,13.88,356.11,8902.66
2,HIPPOCAMPUS,9121.00,28508599.27,5784361.55,634.18,2.03,0.10,109452.00,20.29,319.94,7998.46
3,HYPOTHALAMUS,1958.00,7136052.24,970388.59,495.60,1.91,0.12,23496.00,13.60,274.38,6859.53
4,IBA1 POSITIVE CELL,NaN,14894836.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MIDBRAIN,8340.00,26592424.36,4291915.87,514.62,1.75,0.09,100080.00,16.14,313.62,7840.58
6,PERIAQUEDUCTAL GRAY,1448.00,4920939.74,764991.01,528.31,1.80,0.10,17376.00,15.55,294.25,7356.32
7,PONS,458.00,1665845.43,186876.54,408.03,2.09,0.17,5496.00,11.22,274.94,6873.39
8,SUBSTANTIA NIGRA,2341.00,5180091.87,1254082.42,535.70,2.10,0.12,28092.00,24.21,451.92,11298.06
9,THALAMUS,3001.00,9372613.49,1513621.07,504.37,1.81,0.10,36012.00,16.15,320.19,8004.70
10,TISSUE,34.00,NaN,84634672.27,2489255.07,NaN,NaN,408.00,NaN,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1647.00,4761166.74,992939.94,602.88,1.95,0.09,19764.00,20.85,345.92,8648.09
1,ANTERIOR COMMISSURE,186.00,517332.80,59861.49,321.84,1.61,0.12,2232.00,11.57,359.54,8988.41
2,CEREBELLAR PEDUNCLES,220.00,898662.81,78707.82,357.76,1.91,0.17,2640.00,8.76,244.81,6120.20
3,CINGULATE CORTEX,2385.00,7611122.48,1429223.45,599.26,1.95,0.09,28620.00,18.78,313.36,7833.93
4,CORPUS CALLOSUM,3853.00,12733989.78,1345606.88,349.24,1.57,0.11,46236.00,10.57,302.58,7564.40
5,FIMBRIA,1820.00,5083389.95,684979.46,376.36,1.65,0.11,21840.00,13.47,358.03,8950.72
6,GLOBUS PALLIDUS,2643.00,5179182.29,1472139.43,557.00,2.21,0.12,31716.00,28.42,510.31,12757.81
7,HIPPOCAMPUS,14038.00,42594729.05,8980138.10,639.70,2.04,0.10,168456.00,21.08,329.57,8239.28
8,HYPOTHALAMUS,8362.00,27314454.18,4392137.55,525.25,1.86,0.10,100344.00,16.08,306.14,7653.46
9,IBA1 POSITIVE CELL,NaN,55503820.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,MIDBRAIN,8340.00,26592424.36,4291915.87,514.62,1.75,0.09,100080.00,16.14,313.62,7840.58
11,MOTOR CORTEX,6617.00,21851869.51,3940500.47,595.51,1.93,0.09,79404.00,18.03,302.81,7570.29
12,NUCLEUS ACCUMBENS,3021.00,8995057.10,2092465.95,692.64,2.09,0.09,36252.00,23.26,335.85,8396.28
13,PERIAQUEDUCTAL GRAY,1448.00,4920939.74,764991.01,528.31,1.80,0.10,17376.00,15.55,294.25,7356.32
14,PIRIFORM CORTEX,6296.00,18934289.59,3798586.19,603.33,1.95,0.09,75552.00,20.06,332.52,8312.96
15,PONS,458.00,1665845.43,186876.54,408.03,2.09,0.17,5496.00,11.22,274.94,6873.39
16,SEPTAL NUCLEUS,2646.00,9247836.05,1591243.48,601.38,1.90,0.09,31752.00,17.21,286.12,7153.02
17,STRIATUM,16002.00,44612123.73,10028217.32,626.69,2.02,0.09,192024.00,22.48,358.69,8967.29
18,SUBSTANTIA NIGRA,2341.00,5180091.87,1254082.42,535.70,2.10,0.12,28092.00,24.21,451.92,11298.06
19,TAENIA TECTA,285.00,854308.75,186624.76,654.82,2.10,0.10,3420.00,21.85,333.60,8340.08
20,THALAMUS,13498.00,41563435.03,7932582.73,587.69,1.87,0.09,161976.00,19.09,324.76,8118.92
21,TISSUE,151.00,NaN,291112251.23,1927895.70,NaN,NaN,1812.00,NaN,NaN,NaN

All calculations completed for concatenated S1+S2+...+SX of C:\Raw_data_IBA1\131297-4_S1_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1647.00,4761166.74,992939.94,602.88,1.95,0.09,19764.00,20.85,345.92,8648.09
1,ANTERIOR COMMISSURE,186.00,517332.80,59861.49,321.84,1.61,0.12,2232.00,11.57,359.54,8988.41
2,CEREBELLAR PEDUNCLES,220.00,898662.81,78707.82,357.76,1.91,0.17,2640.00,8.76,244.81,6120.20
3,CINGULATE CORTEX,2385.00,7611122.48,1429223.45,599.26,1.95,0.09,28620.00,18.78,313.36,7833.93
4,CORPUS CALLOSUM,3853.00,12733989.78,1345606.88,349.24,1.57,0.11,46236.00,10.57,302.58,7564.40
5,FIMBRIA,1820.00,5083389.95,684979.46,376.36,1.65,0.11,21840.00,13.47,358.03,8950.72
6,GLOBUS PALLIDUS,2643.00,5179182.29,1472139.43,557.00,2.21,0.12,31716.00,28.42,510.31,12757.81
7,HIPPOCAMPUS,14038.00,42594729.05,8980138.10,639.70,2.04,0.10,168456.00,21.08,329.57,8239.28
8,HYPOTHALAMUS,8362.00,27314454.18,4392137.55,525.25,1.86,0.10,100344.00,16.08,306.14,7653.46
9,IBA1 POSITIVE CELL,NaN,55503820.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,MIDBRAIN,8340.00,26592424.36,4291915.87,514.62,1.75,0.09,100080.00,16.14,313.62,7840.58
11,MOTOR CORTEX,6617.00,21851869.51,3940500.47,595.51,1.93,0.09,79404.00,18.03,302.81,7570.29
12,NUCLEUS ACCUMBENS,3021.00,8995057.10,2092465.95,692.64,2.09,0.09,36252.00,23.26,335.85,8396.28
13,PERIAQUEDUCTAL GRAY,1448.00,4920939.74,764991.01,528.31,1.80,0.10,17376.00,15.55,294.25,7356.32
14,PIRIFORM CORTEX,6296.00,18934289.59,3798586.19,603.33,1.95,0.09,75552.00,20.06,332.52,8312.96
15,PONS,458.00,1665845.43,186876.54,408.03,2.09,0.17,5496.00,11.22,274.94,6873.39
16,SEPTAL NUCLEUS,2646.00,9247836.05,1591243.48,601.38,1.90,0.09,31752.00,17.21,286.12,7153.02
17,STRIATUM,16002.00,44612123.73,10028217.32,626.69,2.02,0.09,192024.00,22.48,358.69,8967.29
18,SUBSTANTIA NIGRA,2341.00,5180091.87,1254082.42,535.70,2.10,0.12,28092.00,24.21,451.92,11298.06
19,TAENIA TECTA,285.00,854308.75,186624.76,654.82,2.10,0.10,3420.00,21.85,333.60,8340.08
20,THALAMUS,13498.00,41563435.03,7932582.73,587.69,1.87,0.09,161976.00,19.09,324.76,8118.92
21,TISSUE,151.00,NaN,291112251.23,1927895.70,NaN,NaN,1812.00,NaN,NaN,NaN

Analysis of C:\Raw_data_IBA1\131344-1_S1_IBA1.csv
The present image = 131344-1_S1_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 1,AMYGDALA,1190926.85,NaN
1,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 2,AMYGDALA,583354.97,NaN
2,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 3,AMYGDALA,981253.91,NaN
3,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 5,AMYGDALA,1127348.47,NaN
4,131344-1_S1_IBA1,TISSUE 3,AMYGDALA 4,AMYGDALA,519881.74,NaN
...,...,...,...,...,...,...
70858,131344-1_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,1522728.45,NaN
70859,131344-1_S1_IBA1,TISSUE 1,THALAMUS 4,THALAMUS,9022640.95,NaN
70860,131344-1_S1_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,9760987.02,NaN
70861,131344-1_S1_IBA1,TISSUE 4,THALAMUS 1,THALAMUS,5845848.82,NaN
70862,131344-1_S1_IBA1,TISSUE 3,THALAMUS 3,THALAMUS,7931695.88,NaN

The dictionary of brain regions to replace for 131344-1_S1_IBA1 is: {'MOTOR CORTEX 4': 'EMPTY', 'MOTOR CORTEX 9': 'EMPTY', 'MOTOR CORTEX 10': 'EMPTY', 'CEREBELLAR PEDUNCLES 1': 'EMPTY', 'ANTERIOR OLFACTORY NUCLEUS 1': 'NUCLEUS ACCUMBENS', 'ANTERIOR OLFACTORY NUCLEUS 2': 'NUCLEUS ACCUMBENS'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
0,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 1,AMYGDALA,1190926.85,NaN,TISSUE,AMYGDALA,NaN,NaN
1,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 2,AMYGDALA,583354.97,NaN,TISSUE,AMYGDALA,NaN,NaN
2,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 3,AMYGDALA,981253.91,NaN,TISSUE,AMYGDALA,NaN,NaN
3,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 5,AMYGDALA,1127348.47,NaN,TISSUE,AMYGDALA,NaN,NaN
4,131344-1_S1_IBA1,TISSUE 3,AMYGDALA 4,AMYGDALA,519881.74,NaN,TISSUE,AMYGDALA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70858,131344-1_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,1522728.45,NaN,TISSUE,TAENIA TECTA,NaN,NaN
70859,131344-1_S1_IBA1,TISSUE 1,THALAMUS 4,THALAMUS,9022640.95,NaN,TISSUE,THALAMUS,NaN,NaN
70860,131344-1_S1_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,9760987.02,NaN,TISSUE,THALAMUS,NaN,NaN
70861,131344-1_S1_IBA1,TISSUE 4,THALAMUS 1,THALAMUS,5845848.82,NaN,TISSUE,THALAMUS,NaN,NaN
70862,131344-1_S1_IBA1,TISSUE 3,THALAMUS 3,THALAMUS,7931695.88,NaN,TISSUE,THALAMUS,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1674.00,4918230.87,1116946.54,667.23,2.14,0.10,20088.00,22.71,340.37,8509.16
1,ANTERIOR COMMISSURE,288.00,808299.45,100618.15,349.37,1.73,0.13,3456.00,12.45,356.30,8907.59
2,CINGULATE CORTEX,2191.00,7633133.57,1411195.89,644.09,2.11,0.10,26292.00,18.49,287.04,7175.95
3,CORPUS CALLOSUM,3493.00,11693287.77,1205076.81,345.00,1.59,0.11,41916.00,10.31,298.72,7467.96
4,FIMBRIA,1558.00,4541521.54,607821.08,390.13,1.68,0.11,18696.00,13.38,343.06,8576.42
5,GLOBUS PALLIDUS,2385.00,4944770.78,1389811.60,582.73,2.30,0.12,28620.00,28.11,482.33,12058.19
6,HIPPOCAMPUS,5872.00,17768052.85,4055476.04,690.65,2.18,0.10,70464.00,22.82,330.48,8262.02
7,HYPOTHALAMUS,6327.00,20956629.57,3541041.49,559.67,1.93,0.10,75924.00,16.90,301.91,7547.73
8,IBA1 POSITIVE CELL,NaN,42641873.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MOTOR CORTEX,6675.00,21225337.09,4159114.78,623.09,2.11,0.10,80100.00,19.60,314.48,7862.07
10,NUCLEUS ACCUMBENS,3110.00,9030884.34,2124604.20,683.15,2.26,0.11,37320.00,23.53,344.37,8609.35
11,PIRIFORM CORTEX,6779.00,20323822.80,4466687.18,658.90,2.24,0.12,81348.00,21.98,333.55,8338.74
12,SEPTAL NUCLEUS,2568.00,8847414.65,1564987.65,609.42,1.95,0.09,30816.00,17.69,290.25,7256.36
13,STRIATUM,15548.00,42986882.64,10101265.95,649.68,2.11,0.10,186576.00,23.50,361.69,9042.29
14,TAENIA TECTA,482.00,1522728.45,304115.04,630.94,2.22,0.12,5784.00,19.97,316.54,7913.43
15,THALAMUS,10069.00,32561172.67,6493111.46,644.86,1.99,0.09,120828.00,19.94,309.23,7730.83
16,TISSUE,118.00,NaN,209762169.05,1777645.50,NaN,NaN,1416.00,NaN,NaN,NaN

All calculations completed for _S1 of C:\Raw_data_IBA1\131344-1_S1_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1674.00,4918230.87,1116946.54,667.23,2.14,0.10,20088.00,22.71,340.37,8509.16
1,ANTERIOR COMMISSURE,288.00,808299.45,100618.15,349.37,1.73,0.13,3456.00,12.45,356.30,8907.59
2,CINGULATE CORTEX,2191.00,7633133.57,1411195.89,644.09,2.11,0.10,26292.00,18.49,287.04,7175.95
3,CORPUS CALLOSUM,3493.00,11693287.77,1205076.81,345.00,1.59,0.11,41916.00,10.31,298.72,7467.96
4,FIMBRIA,1558.00,4541521.54,607821.08,390.13,1.68,0.11,18696.00,13.38,343.06,8576.42
5,GLOBUS PALLIDUS,2385.00,4944770.78,1389811.60,582.73,2.30,0.12,28620.00,28.11,482.33,12058.19
6,HIPPOCAMPUS,5872.00,17768052.85,4055476.04,690.65,2.18,0.10,70464.00,22.82,330.48,8262.02
7,HYPOTHALAMUS,6327.00,20956629.57,3541041.49,559.67,1.93,0.10,75924.00,16.90,301.91,7547.73
8,IBA1 POSITIVE CELL,NaN,42641873.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MOTOR CORTEX,6675.00,21225337.09,4159114.78,623.09,2.11,0.10,80100.00,19.60,314.48,7862.07
10,NUCLEUS ACCUMBENS,3110.00,9030884.34,2124604.20,683.15,2.26,0.11,37320.00,23.53,344.37,8609.35
11,PIRIFORM CORTEX,6779.00,20323822.80,4466687.18,658.90,2.24,0.12,81348.00,21.98,333.55,8338.74
12,SEPTAL NUCLEUS,2568.00,8847414.65,1564987.65,609.42,1.95,0.09,30816.00,17.69,290.25,7256.36
13,STRIATUM,15548.00,42986882.64,10101265.95,649.68,2.11,0.10,186576.00,23.50,361.69,9042.29
14,TAENIA TECTA,482.00,1522728.45,304115.04,630.94,2.22,0.12,5784.00,19.97,316.54,7913.43
15,THALAMUS,10069.00,32561172.67,6493111.46,644.86,1.99,0.09,120828.00,19.94,309.23,7730.83
16,TISSUE,118.00,NaN,209762169.05,1777645.50,NaN,NaN,1416.00,NaN,NaN,NaN

The present image = 131344-1_S2_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131344-1_S2_IBA1,TISSUE 6,CEREBELLAR PEDUNCLES 3,CEREBELLAR PEDUNCLES,329859.17,NaN
1,131344-1_S2_IBA1,TISSUE 5,CEREBELLAR PEDUNCLES 2,CEREBELLAR PEDUNCLES,1363333.44,NaN
2,131344-1_S2_IBA1,TISSUE 4,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,753980.36,NaN
3,131344-1_S2_IBA1,TISSUE 10,HIPPOCAMPUS 5,HIPPOCAMPUS,5638212.21,NaN
4,131344-1_S2_IBA1,TISSUE 6,HIPPOCAMPUS 4,HIPPOCAMPUS,3353740.71,NaN
...,...,...,...,...,...,...
43137,131344-1_S2_IBA1,TISSUE 8,THALAMUS 6,THALAMUS,347642.83,NaN
43138,131344-1_S2_IBA1,TISSUE 9,THALAMUS 3,THALAMUS,1134165.28,NaN
43139,131344-1_S2_IBA1,TISSUE 9,THALAMUS 7,THALAMUS,853374.10,NaN
43140,131344-1_S2_IBA1,TISSUE 7,THALAMUS 4,THALAMUS,2038313.25,NaN
43141,131344-1_S2_IBA1,TISSUE 7,THALAMUS 5,THALAMUS,2246332.12,NaN

The dictionary of brain regions to replace for 131344-1_S2_IBA1 is: {'HIPPOCAMPUS 4': 'EMPTY', 'PONS 2': 'EMPTY', 'CEREBELLAR PEDUNCLES 2': 'EMPTY', 'MIDBRAIN 3': 'EMPTY', 'PERIAQUEDUCTAL GRAY 5': 'EMPTY'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
0,131344-1_S2_IBA1,TISSUE 6,CEREBELLAR PEDUNCLES 3,CEREBELLAR PEDUNCLES,329859.17,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
2,131344-1_S2_IBA1,TISSUE 4,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,753980.36,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
3,131344-1_S2_IBA1,TISSUE 10,HIPPOCAMPUS 5,HIPPOCAMPUS,5638212.21,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
5,131344-1_S2_IBA1,TISSUE 8,HIPPOCAMPUS 1,HIPPOCAMPUS,6087581.21,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
6,131344-1_S2_IBA1,TISSUE 9,HIPPOCAMPUS 2,HIPPOCAMPUS,6451487.46,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
43137,131344-1_S2_IBA1,TISSUE 8,THALAMUS 6,THALAMUS,347642.83,NaN,TISSUE,THALAMUS,NaN,NaN
43138,131344-1_S2_IBA1,TISSUE 9,THALAMUS 3,THALAMUS,1134165.28,NaN,TISSUE,THALAMUS,NaN,NaN
43139,131344-1_S2_IBA1,TISSUE 9,THALAMUS 7,THALAMUS,853374.10,NaN,TISSUE,THALAMUS,NaN,NaN
43140,131344-1_S2_IBA1,TISSUE 7,THALAMUS 4,THALAMUS,2038313.25,NaN,TISSUE,THALAMUS,NaN,NaN
43141,131344-1_S2_IBA1,TISSUE 7,THALAMUS 5,THALAMUS,2246332.12,NaN,TISSUE,THALAMUS,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,CEREBELLAR PEDUNCLES,345.00,1083839.54,131054.13,379.87,1.90,0.15,4140.00,12.09,318.31,7957.82
1,HIPPOCAMPUS,10930.00,35521913.89,7476091.54,684.00,2.13,0.10,131160.00,21.05,307.70,7692.43
2,HYPOTHALAMUS,1673.00,5804385.65,896998.01,536.16,1.88,0.10,20076.00,15.45,288.23,7205.76
3,IBA1 POSITIVE CELL,NaN,20914919.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MIDBRAIN,13132.00,44060469.59,7410968.88,564.34,1.87,0.10,157584.00,16.82,298.04,7451.12
5,PERIAQUEDUCTAL GRAY,2186.00,7734375.17,1305222.66,597.08,1.93,0.10,26232.00,16.88,282.63,7065.86
6,PONS,2164.00,6658753.18,911261.78,421.10,1.76,0.12,25968.00,13.69,324.99,8124.64
7,SUBSTANTIA NIGRA,2507.00,5608960.33,1443034.56,575.60,2.24,0.12,30084.00,25.73,446.96,11174.09
8,THALAMUS,2469.00,7560194.23,1340287.71,542.85,1.86,0.10,29628.00,17.73,326.58,8164.47
9,TISSUE,35.00,NaN,114032891.57,3258082.62,NaN,NaN,420.00,NaN,NaN,NaN

All calculations completed for _S2 of C:\Raw_data_IBA1\131344-1_S2_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,CEREBELLAR PEDUNCLES,345.00,1083839.54,131054.13,379.87,1.90,0.15,4140.00,12.09,318.31,7957.82
1,HIPPOCAMPUS,10930.00,35521913.89,7476091.54,684.00,2.13,0.10,131160.00,21.05,307.70,7692.43
2,HYPOTHALAMUS,1673.00,5804385.65,896998.01,536.16,1.88,0.10,20076.00,15.45,288.23,7205.76
3,IBA1 POSITIVE CELL,NaN,20914919.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MIDBRAIN,13132.00,44060469.59,7410968.88,564.34,1.87,0.10,157584.00,16.82,298.04,7451.12
5,PERIAQUEDUCTAL GRAY,2186.00,7734375.17,1305222.66,597.08,1.93,0.10,26232.00,16.88,282.63,7065.86
6,PONS,2164.00,6658753.18,911261.78,421.10,1.76,0.12,25968.00,13.69,324.99,8124.64
7,SUBSTANTIA NIGRA,2507.00,5608960.33,1443034.56,575.60,2.24,0.12,30084.00,25.73,446.96,11174.09
8,THALAMUS,2469.00,7560194.23,1340287.71,542.85,1.86,0.10,29628.00,17.73,326.58,8164.47
9,TISSUE,35.00,NaN,114032891.57,3258082.62,NaN,NaN,420.00,NaN,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1674.00,4918230.87,1116946.54,667.23,2.14,0.10,20088.00,22.71,340.37,8509.16
1,ANTERIOR COMMISSURE,288.00,808299.45,100618.15,349.37,1.73,0.13,3456.00,12.45,356.30,8907.59
2,CEREBELLAR PEDUNCLES,345.00,1083839.54,131054.13,379.87,1.90,0.15,4140.00,12.09,318.31,7957.82
3,CINGULATE CORTEX,2191.00,7633133.57,1411195.89,644.09,2.11,0.10,26292.00,18.49,287.04,7175.95
4,CORPUS CALLOSUM,3493.00,11693287.77,1205076.81,345.00,1.59,0.11,41916.00,10.31,298.72,7467.96
5,FIMBRIA,1558.00,4541521.54,607821.08,390.13,1.68,0.11,18696.00,13.38,343.06,8576.42
6,GLOBUS PALLIDUS,2385.00,4944770.78,1389811.60,582.73,2.30,0.12,28620.00,28.11,482.33,12058.19
7,HIPPOCAMPUS,16802.00,53289966.74,11531567.58,686.32,2.15,0.10,201624.00,21.64,315.29,7882.35
8,HYPOTHALAMUS,8000.00,26761015.22,4438039.50,554.75,1.92,0.10,96000.00,16.58,298.94,7473.56
9,IBA1 POSITIVE CELL,NaN,63556793.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,MIDBRAIN,13132.00,44060469.59,7410968.88,564.34,1.87,0.10,157584.00,16.82,298.04,7451.12
11,MOTOR CORTEX,6675.00,21225337.09,4159114.78,623.09,2.11,0.10,80100.00,19.60,314.48,7862.07
12,NUCLEUS ACCUMBENS,3110.00,9030884.34,2124604.20,683.15,2.26,0.11,37320.00,23.53,344.37,8609.35
13,PERIAQUEDUCTAL GRAY,2186.00,7734375.17,1305222.66,597.08,1.93,0.10,26232.00,16.88,282.63,7065.86
14,PIRIFORM CORTEX,6779.00,20323822.80,4466687.18,658.90,2.24,0.12,81348.00,21.98,333.55,8338.74
15,PONS,2164.00,6658753.18,911261.78,421.10,1.76,0.12,25968.00,13.69,324.99,8124.64
16,SEPTAL NUCLEUS,2568.00,8847414.65,1564987.65,609.42,1.95,0.09,30816.00,17.69,290.25,7256.36
17,STRIATUM,15548.00,42986882.64,10101265.95,649.68,2.11,0.10,186576.00,23.50,361.69,9042.29
18,SUBSTANTIA NIGRA,2507.00,5608960.33,1443034.56,575.60,2.24,0.12,30084.00,25.73,446.96,11174.09
19,TAENIA TECTA,482.00,1522728.45,304115.04,630.94,2.22,0.12,5784.00,19.97,316.54,7913.43
20,THALAMUS,12538.00,40121366.90,7833399.18,624.77,1.97,0.09,150456.00,19.52,312.50,7812.55
21,TISSUE,153.00,NaN,323795060.62,2116307.59,NaN,NaN,1836.00,NaN,NaN,NaN

All calculations completed for concatenated S1+S2+...+SX of C:\Raw_data_IBA1\131344-1_S1_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,AMYGDALA,1674.00,4918230.87,1116946.54,667.23,2.14,0.10,20088.00,22.71,340.37,8509.16
1,ANTERIOR COMMISSURE,288.00,808299.45,100618.15,349.37,1.73,0.13,3456.00,12.45,356.30,8907.59
2,CEREBELLAR PEDUNCLES,345.00,1083839.54,131054.13,379.87,1.90,0.15,4140.00,12.09,318.31,7957.82
3,CINGULATE CORTEX,2191.00,7633133.57,1411195.89,644.09,2.11,0.10,26292.00,18.49,287.04,7175.95
4,CORPUS CALLOSUM,3493.00,11693287.77,1205076.81,345.00,1.59,0.11,41916.00,10.31,298.72,7467.96
5,FIMBRIA,1558.00,4541521.54,607821.08,390.13,1.68,0.11,18696.00,13.38,343.06,8576.42
6,GLOBUS PALLIDUS,2385.00,4944770.78,1389811.60,582.73,2.30,0.12,28620.00,28.11,482.33,12058.19
7,HIPPOCAMPUS,16802.00,53289966.74,11531567.58,686.32,2.15,0.10,201624.00,21.64,315.29,7882.35
8,HYPOTHALAMUS,8000.00,26761015.22,4438039.50,554.75,1.92,0.10,96000.00,16.58,298.94,7473.56
9,IBA1 POSITIVE CELL,NaN,63556793.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,MIDBRAIN,13132.00,44060469.59,7410968.88,564.34,1.87,0.10,157584.00,16.82,298.04,7451.12
11,MOTOR CORTEX,6675.00,21225337.09,4159114.78,623.09,2.11,0.10,80100.00,19.60,314.48,7862.07
12,NUCLEUS ACCUMBENS,3110.00,9030884.34,2124604.20,683.15,2.26,0.11,37320.00,23.53,344.37,8609.35
13,PERIAQUEDUCTAL GRAY,2186.00,7734375.17,1305222.66,597.08,1.93,0.10,26232.00,16.88,282.63,7065.86
14,PIRIFORM CORTEX,6779.00,20323822.80,4466687.18,658.90,2.24,0.12,81348.00,21.98,333.55,8338.74
15,PONS,2164.00,6658753.18,911261.78,421.10,1.76,0.12,25968.00,13.69,324.99,8124.64
16,SEPTAL NUCLEUS,2568.00,8847414.65,1564987.65,609.42,1.95,0.09,30816.00,17.69,290.25,7256.36
17,STRIATUM,15548.00,42986882.64,10101265.95,649.68,2.11,0.10,186576.00,23.50,361.69,9042.29
18,SUBSTANTIA NIGRA,2507.00,5608960.33,1443034.56,575.60,2.24,0.12,30084.00,25.73,446.96,11174.09
19,TAENIA TECTA,482.00,1522728.45,304115.04,630.94,2.22,0.12,5784.00,19.97,316.54,7913.43
20,THALAMUS,12538.00,40121366.90,7833399.18,624.77,1.97,0.09,150456.00,19.52,312.50,7812.55
21,TISSUE,153.00,NaN,323795060.62,2116307.59,NaN,NaN,1836.00,NaN,NaN,NaN

Overview dataframe with all Total Region Area (μm²) for all brains

        Merged area name    131297-4    131344-1
0               AMYGDALA  4761166.74  4918230.87
1    ANTERIOR COMMISSURE   517332.80   808299.45
2   CEREBELLAR PEDUNCLES   898662.81  1083839.54
3       CINGULATE CORTEX  7611122.48  7633133.57
4        CORPUS CALLOSUM 12733989.78 11693287.77
5                FIMBRIA  5083389.95  4541521.54
6        GLOBUS PALLIDUS  5179182.29  4944770.78
7            HIPPOCAMPUS 42594729.05 53289966.74
8           HYPOTHALAMUS 27314454.18 26761015.22
9               MIDBRAIN 26592424.36 44060469.59
10          MOTOR CORTEX 21851869.51 21225337.09
11     NUCLEUS ACCUMBENS  8995057.10  9030884.34
12   PERIAQUEDUCTAL GRAY  4920939.74  7734375.17
13       PIRIFORM CORTEX 18934289.59 20323822.80
14                  PONS  1665845.43  6658753.18
15        SEPTAL NUCLEUS  9247836.05  8847414.65
16              STRIATUM 44612123.73 42986882.64
17      SUBSTANTIA NIGRA  5180091.87  5608960.33
18          TAENIA TECTA   854308.75  1522728.45
19              THALAMUS 41563435.03 40121366.90

Overview dataframe with all Counts for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA   1647.00   1674.00
1    ANTERIOR COMMISSURE    186.00    288.00
2   CEREBELLAR PEDUNCLES    220.00    345.00
3       CINGULATE CORTEX   2385.00   2191.00
4        CORPUS CALLOSUM   3853.00   3493.00
5                FIMBRIA   1820.00   1558.00
6        GLOBUS PALLIDUS   2643.00   2385.00
7            HIPPOCAMPUS  14038.00  16802.00
8           HYPOTHALAMUS   8362.00   8000.00
9               MIDBRAIN   8340.00  13132.00
10          MOTOR CORTEX   6617.00   6675.00
11     NUCLEUS ACCUMBENS   3021.00   3110.00
12   PERIAQUEDUCTAL GRAY   1448.00   2186.00
13       PIRIFORM CORTEX   6296.00   6779.00
14                  PONS    458.00   2164.00
15        SEPTAL NUCLEUS   2646.00   2568.00
16              STRIATUM  16002.00  15548.00
17      SUBSTANTIA NIGRA   2341.00   2507.00
18          TAENIA TECTA    285.00    482.00
19              THALAMUS  13498.00  12538.00

Overview dataframe with all Extrapolated Cell Count for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA  19764.00  20088.00
1    ANTERIOR COMMISSURE   2232.00   3456.00
2   CEREBELLAR PEDUNCLES   2640.00   4140.00
3       CINGULATE CORTEX  28620.00  26292.00
4        CORPUS CALLOSUM  46236.00  41916.00
5                FIMBRIA  21840.00  18696.00
6        GLOBUS PALLIDUS  31716.00  28620.00
7            HIPPOCAMPUS 168456.00 201624.00
8           HYPOTHALAMUS 100344.00  96000.00
9               MIDBRAIN 100080.00 157584.00
10          MOTOR CORTEX  79404.00  80100.00
11     NUCLEUS ACCUMBENS  36252.00  37320.00
12   PERIAQUEDUCTAL GRAY  17376.00  26232.00
13       PIRIFORM CORTEX  75552.00  81348.00
14                  PONS   5496.00  25968.00
15        SEPTAL NUCLEUS  31752.00  30816.00
16              STRIATUM 192024.00 186576.00
17      SUBSTANTIA NIGRA  28092.00  30084.00
18          TAENIA TECTA   3420.00   5784.00
19              THALAMUS 161976.00 150456.00

Overview dataframe with all Total Cell Area (μm²) for all brains

        Merged area name    131297-4    131344-1
0               AMYGDALA   992939.94  1116946.54
1    ANTERIOR COMMISSURE    59861.49   100618.15
2   CEREBELLAR PEDUNCLES    78707.82   131054.13
3       CINGULATE CORTEX  1429223.45  1411195.89
4        CORPUS CALLOSUM  1345606.88  1205076.81
5                FIMBRIA   684979.46   607821.08
6        GLOBUS PALLIDUS  1472139.43  1389811.60
7            HIPPOCAMPUS  8980138.10 11531567.58
8           HYPOTHALAMUS  4392137.55  4438039.50
9               MIDBRAIN  4291915.87  7410968.88
10          MOTOR CORTEX  3940500.47  4159114.78
11     NUCLEUS ACCUMBENS  2092465.95  2124604.20
12   PERIAQUEDUCTAL GRAY   764991.01  1305222.66
13       PIRIFORM CORTEX  3798586.19  4466687.18
14                  PONS   186876.54   911261.78
15        SEPTAL NUCLEUS  1591243.48  1564987.65
16              STRIATUM 10028217.32 10101265.95
17      SUBSTANTIA NIGRA  1254082.42  1443034.56
18          TAENIA TECTA   186624.76   304115.04
19              THALAMUS  7932582.73  7833399.18

Overview dataframe with all Average Cell Area (μm²) for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA    602.88    667.23
1    ANTERIOR COMMISSURE    321.84    349.37
2   CEREBELLAR PEDUNCLES    357.76    379.87
3       CINGULATE CORTEX    599.26    644.09
4        CORPUS CALLOSUM    349.24    345.00
5                FIMBRIA    376.36    390.13
6        GLOBUS PALLIDUS    557.00    582.73
7            HIPPOCAMPUS    639.70    686.32
8           HYPOTHALAMUS    525.25    554.75
9               MIDBRAIN    514.62    564.34
10          MOTOR CORTEX    595.51    623.09
11     NUCLEUS ACCUMBENS    692.64    683.15
12   PERIAQUEDUCTAL GRAY    528.31    597.08
13       PIRIFORM CORTEX    603.33    658.90
14                  PONS    408.03    421.10
15        SEPTAL NUCLEUS    601.38    609.42
16              STRIATUM    626.69    649.68
17      SUBSTANTIA NIGRA    535.70    575.60
18          TAENIA TECTA    654.82    630.94
19              THALAMUS    587.69    624.77

Overview dataframe with all Percentage IBA1 Positive Area for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA     20.85     22.71
1    ANTERIOR COMMISSURE     11.57     12.45
2   CEREBELLAR PEDUNCLES      8.76     12.09
3       CINGULATE CORTEX     18.78     18.49
4        CORPUS CALLOSUM     10.57     10.31
5                FIMBRIA     13.47     13.38
6        GLOBUS PALLIDUS     28.42     28.11
7            HIPPOCAMPUS     21.08     21.64
8           HYPOTHALAMUS     16.08     16.58
9               MIDBRAIN     16.14     16.82
10          MOTOR CORTEX     18.03     19.60
11     NUCLEUS ACCUMBENS     23.26     23.53
12   PERIAQUEDUCTAL GRAY     15.55     16.88
13       PIRIFORM CORTEX     20.06     21.98
14                  PONS     11.22     13.69
15        SEPTAL NUCLEUS     17.21     17.69
16              STRIATUM     22.48     23.50
17      SUBSTANTIA NIGRA     24.21     25.73
18          TAENIA TECTA     21.85     19.97
19              THALAMUS     19.09     19.52

Overview dataframe with all Average Area per Perimeter (μm) for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA      1.95      2.14
1    ANTERIOR COMMISSURE      1.61      1.73
2   CEREBELLAR PEDUNCLES      1.91      1.90
3       CINGULATE CORTEX      1.95      2.11
4        CORPUS CALLOSUM      1.57      1.59
5                FIMBRIA      1.65      1.68
6        GLOBUS PALLIDUS      2.21      2.30
7            HIPPOCAMPUS      2.04      2.15
8           HYPOTHALAMUS      1.86      1.92
9               MIDBRAIN      1.75      1.87
10          MOTOR CORTEX      1.93      2.11
11     NUCLEUS ACCUMBENS      2.09      2.26
12   PERIAQUEDUCTAL GRAY      1.80      1.93
13       PIRIFORM CORTEX      1.95      2.24
14                  PONS      2.09      1.76
15        SEPTAL NUCLEUS      1.90      1.95
16              STRIATUM      2.02      2.11
17      SUBSTANTIA NIGRA      2.10      2.24
18          TAENIA TECTA      2.10      2.22
19              THALAMUS      1.87      1.97

Overview dataframe with all Average Circularity for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA      0.09      0.10
1    ANTERIOR COMMISSURE      0.12      0.13
2   CEREBELLAR PEDUNCLES      0.17      0.15
3       CINGULATE CORTEX      0.09      0.10
4        CORPUS CALLOSUM      0.11      0.11
5                FIMBRIA      0.11      0.11
6        GLOBUS PALLIDUS      0.12      0.12
7            HIPPOCAMPUS      0.10      0.10
8           HYPOTHALAMUS      0.10      0.10
9               MIDBRAIN      0.09      0.10
10          MOTOR CORTEX      0.09      0.10
11     NUCLEUS ACCUMBENS      0.09      0.11
12   PERIAQUEDUCTAL GRAY      0.10      0.10
13       PIRIFORM CORTEX      0.09      0.12
14                  PONS      0.17      0.12
15        SEPTAL NUCLEUS      0.09      0.09
16              STRIATUM      0.09      0.10
17      SUBSTANTIA NIGRA      0.12      0.12
18          TAENIA TECTA      0.10      0.12
19              THALAMUS      0.09      0.09

Overview dataframe with all Cells per Region Area (mm²) for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA    345.92    340.37
1    ANTERIOR COMMISSURE    359.54    356.30
2   CEREBELLAR PEDUNCLES    244.81    318.31
3       CINGULATE CORTEX    313.36    287.04
4        CORPUS CALLOSUM    302.58    298.72
5                FIMBRIA    358.03    343.06
6        GLOBUS PALLIDUS    510.31    482.33
7            HIPPOCAMPUS    329.57    315.29
8           HYPOTHALAMUS    306.14    298.94
9               MIDBRAIN    313.62    298.04
10          MOTOR CORTEX    302.81    314.48
11     NUCLEUS ACCUMBENS    335.85    344.37
12   PERIAQUEDUCTAL GRAY    294.25    282.63
13       PIRIFORM CORTEX    332.52    333.55
14                  PONS    274.94    324.99
15        SEPTAL NUCLEUS    286.12    290.25
16              STRIATUM    358.69    361.69
17      SUBSTANTIA NIGRA    451.92    446.96
18          TAENIA TECTA    333.60    316.54
19              THALAMUS    324.76    312.50

Overview dataframe with all Cells per Region Vol (mm³) for all brains

        Merged area name  131297-4  131344-1
0               AMYGDALA   8648.09   8509.16
1    ANTERIOR COMMISSURE   8988.41   8907.59
2   CEREBELLAR PEDUNCLES   6120.20   7957.82
3       CINGULATE CORTEX   7833.93   7175.95
4        CORPUS CALLOSUM   7564.40   7467.96
5                FIMBRIA   8950.72   8576.42
6        GLOBUS PALLIDUS  12757.81  12058.19
7            HIPPOCAMPUS   8239.28   7882.35
8           HYPOTHALAMUS   7653.46   7473.56
9               MIDBRAIN   7840.58   7451.12
10          MOTOR CORTEX   7570.29   7862.07
11     NUCLEUS ACCUMBENS   8396.28   8609.35
12   PERIAQUEDUCTAL GRAY   7356.32   7065.86
13       PIRIFORM CORTEX   8312.96   8338.74
14                  PONS   6873.39   8124.64
15        SEPTAL NUCLEUS   7153.02   7256.36
16              STRIATUM   8967.29   9042.29
17      SUBSTANTIA NIGRA  11298.06  11174.09
18          TAENIA TECTA   8340.08   7913.43
19              THALAMUS   8118.92   7812.55

CPU times: total: 3.28 s
Wall time: 4.11 s

## Part 3 – Automatic Analysis of all N S1 Slides of all N Brains (Including Injected and Uninjected Hemispheres)

In [11]:
%%time
# Measure the execution time of this cell

# Load the file specifying brain regions to replace/delete for each image
df_brainregions_to_replace = load_data_brainregions_to_replace(file_brainregions_to_replace)

# Load the file specifying which brain regions belong to which hemisphere for each image
df_brainregions_injected = load_data_brainregions_injected(file_brainregions_injected)

# Get all file names containing '_S1'
all_raw_data_file_locations_S1 = load_all_file_locations_S1(folder_raw_data, data_format)

# Initialize dictionary to store all overview dataframes for injected analysis
dictionary_overview_dataframes_injected = {}

# Loop over all S1 images in the raw_data folder
for count, file_location_S1 in enumerate(all_raw_data_file_locations_S1):

    print(f'\nAnalysis of {file_location_S1}')

    # Extract image name from file path
    image_name_S1 = os.path.splitext(os.path.basename(file_location_S1))[0]

    # Dictionaries to store cleaned dataframes for all appendices
    dict_df_SX_final = {}  # e.g., {'_S1': df_S1_final, '_S2': df_S2_final, ..., '_SX': df_SX_final}

    # Loop over all appendices ('_S1', '_S2', ..., '_SX')
    for appendix in appendices_list:
        file_location = file_location_S1.replace('_S1', appendix)
        # Clean the data using pre-defined function
        dict_df_SX_final[appendix] = dataframe_cleaning(file_location, df_brainregions_to_replace, data_format)

    # Concatenate all cleaned dataframes (S1+S2+...+SX)
    df_SX_final_concat = pd.concat(dict_df_SX_final.values(), axis=0)

    # Merge with hemisphere injected information. 
    # For each row, determine whether the Parent area name and Area/object name were injected or uninjected
    # Brain regions not relevant to the injected analysis are removed through the inner join
    df_SX_injected_parent = df_SX_final_concat.merge(
        df_brainregions_injected, left_on=['Image', 'Parent area name'], right_on=['Image', 'Brainregion'], how='inner'
    )
    df_SX_injected_object = df_SX_final_concat.merge(
        df_brainregions_injected, left_on=['Image', 'Area/object name'], right_on=['Image', 'Brainregion'], how='inner'
    )

    # Perform all calculations for injected data.
    # The except part is for when we have made an empty dataframe because no dataframe was available (will never be the case for S1+S2 +...SX).
    try:
        df_SX_all_calcs_injected = all_calculations(
            df_SX_injected_parent, df_SX_injected_object,
            groupby_column1='Parent_Injected', groupby_column2='Daughter1_Injected'
        )
        df_SX_all_calcs_injected.sort_values('Merged area name', ascending=False, inplace=True)
        print(f'All calculations completed for concatenated SX INJECTED of {file_location_S1}')
        display(df_SX_all_calcs_injected)
    except:
        pass

    # Save individual results to Excel
    output_file_location_SX = os.path.join(
        folder_output_results_injected,
        image_name_S1.replace('_S1', '_SX') + '_Hemisphere_Results.xlsx'
    )

    with pd.ExcelWriter(output_file_location_SX) as writer:
        df_SX_all_calcs_injected.to_excel(writer, sheet_name='SX_Hemisphere_Results', index=False, float_format="%.3f")

    # Define calculation columns for overview
    list_calculation_results = [
        'Total Region Area (μm²)', 'Counts', 'Extrapolated Cell Count',
        'Total Cell Area (μm²)', 'Average Cell Area (μm²)', 'Percentage IBA1 Positive Area',
        'Average Area/Perimeter (μm)', 'Average Circularity',
        'Cells/Region Area (mm²)', 'Cells/Region Volume (mm³)',
    ]

    # Exclude unnecessary brain regions
    brainregions_not_needed = ['IBA1 POSITIVE CELL', 'TISSUE']

    # Prepare overview dataframes
    # We will make 1 overview excelfile with a few tabpages that we store in dictionary_overview_dataframes_injected:
    # dictionary_overview_dataframes_injected = {Total Region area: df, Extrapolated Cell Count:df, Cells/Region Area:df, .... }
    for calculation_result in list_calculation_results:
        df_calc = df_SX_all_calcs_injected[['Merged area name', calculation_result]].copy()
        df_calc = df_calc[~df_calc['Merged area name'].isin(brainregions_not_needed)]
        df_calc.rename(columns={calculation_result: image_name_S1.replace('_S1', '').replace('_IBA1', '')}, inplace=True)

        # Merge data into overview dictionary
        if count == 0:
            dictionary_overview_dataframes_injected[calculation_result] = df_calc.copy()
        else:
            dictionary_overview_dataframes_injected[calculation_result] = dictionary_overview_dataframes_injected[calculation_result].merge(
                df_calc, how='outer', on='Merged area name'
            )

    # Clean up memory for next iteration
    del dict_df_SX_final, df_SX_final_concat, df_SX_all_calcs_injected

# Save overview Excel file
output_file_name_overview = os.path.join(folder_output_results_injected, 'Overview_IBA1_Hemisphere_Results.xlsx')

with pd.ExcelWriter(output_file_name_overview) as writer:
    for calculation_result in list_calculation_results:
        sheet_name_clean = calculation_result.replace('/', ' per ').replace('Volume', 'Vol')
        dictionary_overview_dataframes_injected[calculation_result].sort_values('Merged area name', ascending=False, inplace=True)
        
        print(f'Overview dataframe with all {sheet_name_clean} for all brains')
        display(dictionary_overview_dataframes_injected[calculation_result])
        
        dictionary_overview_dataframes_injected[calculation_result].to_excel(writer, sheet_name=sheet_name_clean, index=False, float_format="%.3f")

The modified table of brain regions to replace for each image:

               Image             Brainregion_Wrong Brainregion_Correct
0   131297-4_S1_IBA1                HYPOTHALAMUS 2               EMPTY
1   131297-4_S1_IBA1           NUCLEUS ACCUMBENS 7               EMPTY
2   131297-4_S1_IBA1                MOTOR CORTEX 8               EMPTY
3   131297-4_S1_IBA1                MOTOR CORTEX 9               EMPTY
4   131297-4_S2_IBA1             PIRIFORM CORTEX 1               EMPTY
5   131297-4_S2_IBA1             PIRIFORM CORTEX 2               EMPTY
6   131297-4_S2_IBA1                    MIDBRAIN 4          THALAMUS 6
7   131297-4_S2_IBA1                    AMYGDALA 1               EMPTY
8   131344-1_S1_IBA1                MOTOR CORTEX 4               EMPTY
9   131344-1_S1_IBA1                MOTOR CORTEX 9               EMPTY
10  131344-1_S1_IBA1               MOTOR CORTEX 10               EMPTY
11  131344-1_S1_IBA1        CEREBELLAR PEDUNCLES 1               EMPTY
12  131344-1_S1_IBA1  ANTERIOR OLFACTORY NUCLEUS 1   NUCLEUS ACCUMBENS
13  131344-1_S1_IBA1  ANTERIOR OLFACTORY NUCLEUS 2   NUCLEUS ACCUMBENS
14  131344-1_S2_IBA1                 HIPPOCAMPUS 4               EMPTY
15  131344-1_S2_IBA1                        PONS 2               EMPTY
16  131344-1_S2_IBA1        CEREBELLAR PEDUNCLES 2               EMPTY
17  131344-1_S2_IBA1                    MIDBRAIN 3               EMPTY
18  131344-1_S2_IBA1         PERIAQUEDUCTAL GRAY 5               EMPTY

The modified table of injected brain regions for each image:

,Image,Brainregion,Parent_Injected,Daughter1_Injected
0,131297-4_S1_IBA1,STRIATUM 2,STRIATUM UNINJECTED,STRIATUM UNINJECTED
1,131297-4_S1_IBA1,STRIATUM 18,STRIATUM UNINJECTED,STRIATUM UNINJECTED
2,131297-4_S1_IBA1,STRIATUM 16,STRIATUM UNINJECTED,STRIATUM UNINJECTED
3,131297-4_S1_IBA1,STRIATUM 15,STRIATUM UNINJECTED,STRIATUM UNINJECTED
4,131297-4_S1_IBA1,STRIATUM 17,STRIATUM UNINJECTED,STRIATUM UNINJECTED
5,131297-4_S1_IBA1,STRIATUM 4,STRIATUM UNINJECTED,STRIATUM UNINJECTED
6,131297-4_S1_IBA1,STRIATUM 5,STRIATUM UNINJECTED,STRIATUM UNINJECTED
7,131297-4_S1_IBA1,STRIATUM 7,STRIATUM UNINJECTED,STRIATUM UNINJECTED
8,131297-4_S1_IBA1,STRIATUM 8,STRIATUM UNINJECTED,STRIATUM UNINJECTED
9,131297-4_S1_IBA1,STRIATUM 1,STRIATUM INJECTED,STRIATUM INJECTED
10,131297-4_S1_IBA1,STRIATUM 3,STRIATUM INJECTED,STRIATUM INJECTED
11,131297-4_S1_IBA1,STRIATUM 6,STRIATUM INJECTED,STRIATUM INJECTED
12,131297-4_S1_IBA1,STRIATUM 9,STRIATUM INJECTED,STRIATUM INJECTED
13,131297-4_S1_IBA1,STRIATUM 10,STRIATUM INJECTED,STRIATUM INJECTED
14,131297-4_S1_IBA1,STRIATUM 13,STRIATUM INJECTED,STRIATUM INJECTED
15,131297-4_S1_IBA1,STRIATUM 14,STRIATUM INJECTED,STRIATUM INJECTED
16,131297-4_S1_IBA1,STRIATUM 11,STRIATUM INJECTED,STRIATUM INJECTED
17,131297-4_S1_IBA1,STRIATUM 12,STRIATUM INJECTED,STRIATUM INJECTED
18,131297-4_S1_IBA1,GLOBUS PALLIDUS 5,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
19,131297-4_S1_IBA1,GLOBUS PALLIDUS 1,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
20,131297-4_S1_IBA1,GLOBUS PALLIDUS 2,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
21,131297-4_S1_IBA1,GLOBUS PALLIDUS 3,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
22,131297-4_S1_IBA1,GLOBUS PALLIDUS 4,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
23,131297-4_S1_IBA1,GLOBUS PALLIDUS 7,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
24,131297-4_S1_IBA1,GLOBUS PALLIDUS 8,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
25,131297-4_S1_IBA1,GLOBUS PALLIDUS 6,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
26,131297-4_S2_IBA1,SUBSTANTIA NIGRA 5,SUBSTANTIA NIGRA UNINJECTED,SUBSTANTIA NIGRA UNINJECTED
27,131297-4_S2_IBA1,SUBSTANTIA NIGRA 3,SUBSTANTIA NIGRA UNINJECTED,SUBSTANTIA NIGRA UNINJECTED
28,131297-4_S2_IBA1,SUBSTANTIA NIGRA 6,SUBSTANTIA NIGRA UNINJECTED,SUBSTANTIA NIGRA UNINJECTED
29,131297-4_S2_IBA1,SUBSTANTIA NIGRA 4,SUBSTANTIA NIGRA INJECTED,SUBSTANTIA NIGRA INJECTED
30,131297-4_S2_IBA1,SUBSTANTIA NIGRA 2,SUBSTANTIA NIGRA INJECTED,SUBSTANTIA NIGRA INJECTED
31,131297-4_S2_IBA1,SUBSTANTIA NIGRA 1,SUBSTANTIA NIGRA INJECTED,SUBSTANTIA NIGRA INJECTED
32,131344-1_S1_IBA1,STRIATUM 14,STRIATUM UNINJECTED,STRIATUM UNINJECTED
33,131344-1_S1_IBA1,STRIATUM 15,STRIATUM UNINJECTED,STRIATUM UNINJECTED
34,131344-1_S1_IBA1,STRIATUM 13,STRIATUM UNINJECTED,STRIATUM UNINJECTED
35,131344-1_S1_IBA1,STRIATUM 12,STRIATUM UNINJECTED,STRIATUM UNINJECTED
36,131344-1_S1_IBA1,STRIATUM 7,STRIATUM UNINJECTED,STRIATUM UNINJECTED
37,131344-1_S1_IBA1,STRIATUM 8,STRIATUM UNINJECTED,STRIATUM UNINJECTED
38,131344-1_S1_IBA1,STRIATUM 9,STRIATUM UNINJECTED,STRIATUM UNINJECTED
39,131344-1_S1_IBA1,STRIATUM 5,STRIATUM INJECTED,STRIATUM INJECTED
40,131344-1_S1_IBA1,STRIATUM 6,STRIATUM INJECTED,STRIATUM INJECTED
41,131344-1_S1_IBA1,STRIATUM 3,STRIATUM INJECTED,STRIATUM INJECTED
42,131344-1_S1_IBA1,STRIATUM 1,STRIATUM INJECTED,STRIATUM INJECTED
43,131344-1_S1_IBA1,STRIATUM 11,STRIATUM INJECTED,STRIATUM INJECTED
44,131344-1_S1_IBA1,STRIATUM 10,STRIATUM INJECTED,STRIATUM INJECTED
45,131344-1_S1_IBA1,STRIATUM 4,STRIATUM INJECTED,STRIATUM INJECTED
46,131344-1_S1_IBA1,STRIATUM 2,STRIATUM INJECTED,STRIATUM INJECTED
47,131344-1_S1_IBA1,GLOBUS PALLIDUS 2,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
48,131344-1_S1_IBA1,GLOBUS PALLIDUS 4,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
49,131344-1_S1_IBA1,GLOBUS PALLIDUS 5,GLOBUS PALLIDUS UNINJECTED,GLOBUS PALLIDUS UNINJECTED
50,131344-1_S1_IBA1,GLOBUS PALLIDUS 1,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
51,131344-1_S1_IBA1,GLOBUS PALLIDUS 7,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
52,131344-1_S1_IBA1,GLOBUS PALLIDUS 6,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
53,131344-1_S1_IBA1,GLOBUS PALLIDUS 3,GLOBUS PALLIDUS INJECTED,GLOBUS PALLIDUS INJECTED
54,131344-1_S2_IBA1,SUBSTANTIA NIGRA 5,SUBSTANTIA NIGRA UNINJECTED,SUBSTANTIA NIGRA UNINJECTED
55,131344-1_S2_IBA1,SUBSTANTIA NIGRA 6,SUBSTANTIA NIGRA UNINJECTED,SUBSTANTIA NIGRA UNINJECTED
56,131344-1_S2_IBA1,SUBSTANTIA NIGRA 2,SUBSTANTIA NIGRA UNINJECTED,SUBSTANTIA NIGRA UNINJECTED
57,131344-1_S2_IBA1,SUBSTANTIA NIGRA 4,SUBSTANTIA NIGRA INJECTED,SUBSTANTIA NIGRA INJECTED
58,131344-1_S2_IBA1,SUBSTANTIA NIGRA 3,SUBSTANTIA NIGRA INJECTED,SUBSTANTIA NIGRA INJECTED
59,131344-1_S2_IBA1,SUBSTANTIA NIGRA 1,SUBSTANTIA NIGRA INJECTED,SUBSTANTIA NIGRA INJECTED

All raw data file locations:
 - C:\Raw_data_IBA1\131297-4_S1_IBA1.csv
 - C:\Raw_data_IBA1\131297-4_S2_IBA1.csv
 - C:\Raw_data_IBA1\131344-1_S1_IBA1.csv
 - C:\Raw_data_IBA1\131344-1_S2_IBA1.csv

Raw data file locations for S1 images:
 - C:\Raw_data_IBA1\131297-4_S1_IBA1.csv
 - C:\Raw_data_IBA1\131344-1_S1_IBA1.csv

Analysis of C:\Raw_data_IBA1\131297-4_S1_IBA1.csv
The present image = 131297-4_S1_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 1,AMYGDALA,626554.38,NaN
1,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 6,AMYGDALA,400563.50,NaN
2,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 3,AMYGDALA,948588.59,NaN
3,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 5,AMYGDALA,1032931.69,NaN
4,131297-4_S1_IBA1,TISSUE 3,AMYGDALA 2,AMYGDALA,933892.57,NaN
...,...,...,...,...,...,...
70940,131297-4_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,854308.75,NaN
70941,131297-4_S1_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,7884831.90,NaN
70942,131297-4_S1_IBA1,TISSUE 4,THALAMUS 4,THALAMUS,9205204.79,NaN
70943,131297-4_S1_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,5761013.65,NaN
70944,131297-4_S1_IBA1,TISSUE 3,THALAMUS 2,THALAMUS,9339771.19,NaN

The dictionary of brain regions to replace for 131297-4_S1_IBA1 is: {'HYPOTHALAMUS 2': 'EMPTY', 'NUCLEUS ACCUMBENS 7': 'EMPTY', 'MOTOR CORTEX 8': 'EMPTY', 'MOTOR CORTEX 9': 'EMPTY'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
0,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 1,AMYGDALA,626554.38,NaN,TISSUE,AMYGDALA,NaN,NaN
1,131297-4_S1_IBA1,TISSUE 2,AMYGDALA 6,AMYGDALA,400563.50,NaN,TISSUE,AMYGDALA,NaN,NaN
2,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 3,AMYGDALA,948588.59,NaN,TISSUE,AMYGDALA,NaN,NaN
3,131297-4_S1_IBA1,TISSUE 4,AMYGDALA 5,AMYGDALA,1032931.69,NaN,TISSUE,AMYGDALA,NaN,NaN
4,131297-4_S1_IBA1,TISSUE 3,AMYGDALA 2,AMYGDALA,933892.57,NaN,TISSUE,AMYGDALA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70940,131297-4_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,854308.75,NaN,TISSUE,TAENIA TECTA,NaN,NaN
70941,131297-4_S1_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,7884831.90,NaN,TISSUE,THALAMUS,NaN,NaN
70942,131297-4_S1_IBA1,TISSUE 4,THALAMUS 4,THALAMUS,9205204.79,NaN,TISSUE,THALAMUS,NaN,NaN
70943,131297-4_S1_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,5761013.65,NaN,TISSUE,THALAMUS,NaN,NaN
70944,131297-4_S1_IBA1,TISSUE 3,THALAMUS 2,THALAMUS,9339771.19,NaN,TISSUE,THALAMUS,NaN,NaN

The present image = 131297-4_S2_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131297-4_S2_IBA1,TISSUE 4,AMYGDALA 1,AMYGDALA,600990.71,NaN
1,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,182142.57,NaN
2,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 2,CEREBELLAR PEDUNCLES,716520.23,NaN
3,131297-4_S2_IBA1,TISSUE 4,FIMBRIA 1,FIMBRIA,359443.06,NaN
4,131297-4_S2_IBA1,TISSUE 4,HIPPOCAMPUS 1,HIPPOCAMPUS,3142527.89,NaN
...,...,...,...,...,...,...
27989,131297-4_S2_IBA1,TISSUE 4,THALAMUS 6,THALAMUS,2920995.17,NaN
27990,131297-4_S2_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,1269844.60,NaN
27991,131297-4_S2_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,1470889.70,NaN
27992,131297-4_S2_IBA1,TISSUE 3,THALAMUS 4,THALAMUS,342026.67,NaN
27993,131297-4_S2_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,730363.64,NaN

The dictionary of brain regions to replace for 131297-4_S2_IBA1 is: {'PIRIFORM CORTEX 1': 'EMPTY', 'PIRIFORM CORTEX 2': 'EMPTY', 'MIDBRAIN 4': 'THALAMUS 6', 'AMYGDALA 1': 'EMPTY'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
1,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,182142.57,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
2,131297-4_S2_IBA1,TISSUE 3,CEREBELLAR PEDUNCLES 2,CEREBELLAR PEDUNCLES,716520.23,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
3,131297-4_S2_IBA1,TISSUE 4,FIMBRIA 1,FIMBRIA,359443.06,NaN,TISSUE,FIMBRIA,NaN,NaN
4,131297-4_S2_IBA1,TISSUE 4,HIPPOCAMPUS 1,HIPPOCAMPUS,3142527.89,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
5,131297-4_S2_IBA1,TISSUE 4,HIPPOCAMPUS 7,HIPPOCAMPUS,3669325.13,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
27989,131297-4_S2_IBA1,TISSUE 4,THALAMUS 6,THALAMUS,2920995.17,NaN,TISSUE,THALAMUS,NaN,NaN
27990,131297-4_S2_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,1269844.60,NaN,TISSUE,THALAMUS,NaN,NaN
27991,131297-4_S2_IBA1,TISSUE 2,THALAMUS 3,THALAMUS,1470889.70,NaN,TISSUE,THALAMUS,NaN,NaN
27992,131297-4_S2_IBA1,TISSUE 3,THALAMUS 4,THALAMUS,342026.67,NaN,TISSUE,THALAMUS,NaN,NaN
27993,131297-4_S2_IBA1,TISSUE 1,THALAMUS 1,THALAMUS,730363.64,NaN,TISSUE,THALAMUS,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,GLOBUS PALLIDUS INJECTED,1307,2537979.57,723352.67,553.45,2.19,0.12,15684,28.50,514.98,12874.41
1,GLOBUS PALLIDUS UNINJECTED,1336,2641202.72,748786.76,560.47,2.24,0.12,16032,28.35,505.83,12645.75
2,STRIATUM INJECTED,7956,22155360.72,4959199.13,623.33,2.01,0.09,95472,22.38,359.10,8977.51
3,STRIATUM UNINJECTED,8046,22456763.01,5069018.18,630.00,2.03,0.09,96552,22.57,358.29,8957.21
4,SUBSTANTIA NIGRA INJECTED,1069,2407721.08,569600.83,532.84,2.08,0.11,12828,23.66,443.99,11099.71
5,SUBSTANTIA NIGRA UNINJECTED,1272,2772370.79,684481.59,538.11,2.11,0.12,15264,24.69,458.81,11470.33

All calculations completed for concatenated SX INJECTED of C:\Raw_data_IBA1\131297-4_S1_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
5,SUBSTANTIA NIGRA UNINJECTED,1272,2772370.79,684481.59,538.11,2.11,0.12,15264,24.69,458.81,11470.33
4,SUBSTANTIA NIGRA INJECTED,1069,2407721.08,569600.83,532.84,2.08,0.11,12828,23.66,443.99,11099.71
3,STRIATUM UNINJECTED,8046,22456763.01,5069018.18,630.00,2.03,0.09,96552,22.57,358.29,8957.21
2,STRIATUM INJECTED,7956,22155360.72,4959199.13,623.33,2.01,0.09,95472,22.38,359.10,8977.51
1,GLOBUS PALLIDUS UNINJECTED,1336,2641202.72,748786.76,560.47,2.24,0.12,16032,28.35,505.83,12645.75
0,GLOBUS PALLIDUS INJECTED,1307,2537979.57,723352.67,553.45,2.19,0.12,15684,28.50,514.98,12874.41

Analysis of C:\Raw_data_IBA1\131344-1_S1_IBA1.csv
The present image = 131344-1_S1_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 1,AMYGDALA,1190926.85,NaN
1,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 2,AMYGDALA,583354.97,NaN
2,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 3,AMYGDALA,981253.91,NaN
3,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 5,AMYGDALA,1127348.47,NaN
4,131344-1_S1_IBA1,TISSUE 3,AMYGDALA 4,AMYGDALA,519881.74,NaN
...,...,...,...,...,...,...
70858,131344-1_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,1522728.45,NaN
70859,131344-1_S1_IBA1,TISSUE 1,THALAMUS 4,THALAMUS,9022640.95,NaN
70860,131344-1_S1_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,9760987.02,NaN
70861,131344-1_S1_IBA1,TISSUE 4,THALAMUS 1,THALAMUS,5845848.82,NaN
70862,131344-1_S1_IBA1,TISSUE 3,THALAMUS 3,THALAMUS,7931695.88,NaN

The dictionary of brain regions to replace for 131344-1_S1_IBA1 is: {'MOTOR CORTEX 4': 'EMPTY', 'MOTOR CORTEX 9': 'EMPTY', 'MOTOR CORTEX 10': 'EMPTY', 'CEREBELLAR PEDUNCLES 1': 'EMPTY', 'ANTERIOR OLFACTORY NUCLEUS 1': 'NUCLEUS ACCUMBENS', 'ANTERIOR OLFACTORY NUCLEUS 2': 'NUCLEUS ACCUMBENS'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
0,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 1,AMYGDALA,1190926.85,NaN,TISSUE,AMYGDALA,NaN,NaN
1,131344-1_S1_IBA1,TISSUE 1,AMYGDALA 2,AMYGDALA,583354.97,NaN,TISSUE,AMYGDALA,NaN,NaN
2,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 3,AMYGDALA,981253.91,NaN,TISSUE,AMYGDALA,NaN,NaN
3,131344-1_S1_IBA1,TISSUE 2,AMYGDALA 5,AMYGDALA,1127348.47,NaN,TISSUE,AMYGDALA,NaN,NaN
4,131344-1_S1_IBA1,TISSUE 3,AMYGDALA 4,AMYGDALA,519881.74,NaN,TISSUE,AMYGDALA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70858,131344-1_S1_IBA1,TISSUE 9,TAENIA TECTA 1,TAENIA TECTA,1522728.45,NaN,TISSUE,TAENIA TECTA,NaN,NaN
70859,131344-1_S1_IBA1,TISSUE 1,THALAMUS 4,THALAMUS,9022640.95,NaN,TISSUE,THALAMUS,NaN,NaN
70860,131344-1_S1_IBA1,TISSUE 2,THALAMUS 2,THALAMUS,9760987.02,NaN,TISSUE,THALAMUS,NaN,NaN
70861,131344-1_S1_IBA1,TISSUE 4,THALAMUS 1,THALAMUS,5845848.82,NaN,TISSUE,THALAMUS,NaN,NaN
70862,131344-1_S1_IBA1,TISSUE 3,THALAMUS 3,THALAMUS,7931695.88,NaN,TISSUE,THALAMUS,NaN,NaN

The present image = 131344-1_S2_IBA1
The full raw data =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm)
0,131344-1_S2_IBA1,TISSUE 6,CEREBELLAR PEDUNCLES 3,CEREBELLAR PEDUNCLES,329859.17,NaN
1,131344-1_S2_IBA1,TISSUE 5,CEREBELLAR PEDUNCLES 2,CEREBELLAR PEDUNCLES,1363333.44,NaN
2,131344-1_S2_IBA1,TISSUE 4,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,753980.36,NaN
3,131344-1_S2_IBA1,TISSUE 10,HIPPOCAMPUS 5,HIPPOCAMPUS,5638212.21,NaN
4,131344-1_S2_IBA1,TISSUE 6,HIPPOCAMPUS 4,HIPPOCAMPUS,3353740.71,NaN
...,...,...,...,...,...,...
43137,131344-1_S2_IBA1,TISSUE 8,THALAMUS 6,THALAMUS,347642.83,NaN
43138,131344-1_S2_IBA1,TISSUE 9,THALAMUS 3,THALAMUS,1134165.28,NaN
43139,131344-1_S2_IBA1,TISSUE 9,THALAMUS 7,THALAMUS,853374.10,NaN
43140,131344-1_S2_IBA1,TISSUE 7,THALAMUS 4,THALAMUS,2038313.25,NaN
43141,131344-1_S2_IBA1,TISSUE 7,THALAMUS 5,THALAMUS,2246332.12,NaN

The dictionary of brain regions to replace for 131344-1_S2_IBA1 is: {'HIPPOCAMPUS 4': 'EMPTY', 'PONS 2': 'EMPTY', 'CEREBELLAR PEDUNCLES 2': 'EMPTY', 'MIDBRAIN 3': 'EMPTY', 'PERIAQUEDUCTAL GRAY 5': 'EMPTY'}
The fully cleaned table with "Area/Perimeter (μm)" and "Circularity" =

,Image,Parent area name,Area/object name,Class label,Area (μm²),Circumference (µm),Parent area name merged,Area/object name merged,Area/Perimeter (μm),Circularity
0,131344-1_S2_IBA1,TISSUE 6,CEREBELLAR PEDUNCLES 3,CEREBELLAR PEDUNCLES,329859.17,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
2,131344-1_S2_IBA1,TISSUE 4,CEREBELLAR PEDUNCLES 1,CEREBELLAR PEDUNCLES,753980.36,NaN,TISSUE,CEREBELLAR PEDUNCLES,NaN,NaN
3,131344-1_S2_IBA1,TISSUE 10,HIPPOCAMPUS 5,HIPPOCAMPUS,5638212.21,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
5,131344-1_S2_IBA1,TISSUE 8,HIPPOCAMPUS 1,HIPPOCAMPUS,6087581.21,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
6,131344-1_S2_IBA1,TISSUE 9,HIPPOCAMPUS 2,HIPPOCAMPUS,6451487.46,NaN,TISSUE,HIPPOCAMPUS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
43137,131344-1_S2_IBA1,TISSUE 8,THALAMUS 6,THALAMUS,347642.83,NaN,TISSUE,THALAMUS,NaN,NaN
43138,131344-1_S2_IBA1,TISSUE 9,THALAMUS 3,THALAMUS,1134165.28,NaN,TISSUE,THALAMUS,NaN,NaN
43139,131344-1_S2_IBA1,TISSUE 9,THALAMUS 7,THALAMUS,853374.10,NaN,TISSUE,THALAMUS,NaN,NaN
43140,131344-1_S2_IBA1,TISSUE 7,THALAMUS 4,THALAMUS,2038313.25,NaN,TISSUE,THALAMUS,NaN,NaN
43141,131344-1_S2_IBA1,TISSUE 7,THALAMUS 5,THALAMUS,2246332.12,NaN,TISSUE,THALAMUS,NaN,NaN

The total Calculations of each group:

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
0,GLOBUS PALLIDUS INJECTED,1147,2424808.57,674140.89,587.74,2.29,0.12,13764,27.80,473.03,11825.68
1,GLOBUS PALLIDUS UNINJECTED,1238,2519962.21,715670.72,578.09,2.32,0.13,14856,28.40,491.28,12281.93
2,STRIATUM INJECTED,7956,21927061.57,5293083.70,665.29,2.14,0.10,95472,24.14,362.84,9070.98
3,STRIATUM UNINJECTED,7592,21059821.07,4808182.26,633.32,2.08,0.10,91104,22.83,360.50,9012.42
4,SUBSTANTIA NIGRA INJECTED,1317,2948142.89,767620.69,582.86,2.26,0.12,15804,26.04,446.72,11168.05
5,SUBSTANTIA NIGRA UNINJECTED,1190,2660817.44,675413.87,567.57,2.22,0.12,14280,25.38,447.23,11180.77

All calculations completed for concatenated SX INJECTED of C:\Raw_data_IBA1\131344-1_S1_IBA1.csv

,Merged area name,Counts,Total Region Area (μm²),Total Cell Area (μm²),Average Cell Area (μm²),Average Area/Perimeter (μm),Average Circularity,Extrapolated Cell Count,Percentage IBA1 Positive Area,Cells/Region Area (mm²),Cells/Region Volume (mm³)
5,SUBSTANTIA NIGRA UNINJECTED,1190,2660817.44,675413.87,567.57,2.22,0.12,14280,25.38,447.23,11180.77
4,SUBSTANTIA NIGRA INJECTED,1317,2948142.89,767620.69,582.86,2.26,0.12,15804,26.04,446.72,11168.05
3,STRIATUM UNINJECTED,7592,21059821.07,4808182.26,633.32,2.08,0.10,91104,22.83,360.50,9012.42
2,STRIATUM INJECTED,7956,21927061.57,5293083.70,665.29,2.14,0.10,95472,24.14,362.84,9070.98
1,GLOBUS PALLIDUS UNINJECTED,1238,2519962.21,715670.72,578.09,2.32,0.13,14856,28.40,491.28,12281.93
0,GLOBUS PALLIDUS INJECTED,1147,2424808.57,674140.89,587.74,2.29,0.12,13764,27.80,473.03,11825.68

Overview dataframe with all Total Region Area (μm²) for all brains

              Merged area name    131297-4    131344-1
5  SUBSTANTIA NIGRA UNINJECTED  2772370.79  2660817.44
4    SUBSTANTIA NIGRA INJECTED  2407721.08  2948142.89
3          STRIATUM UNINJECTED 22456763.01 21059821.07
2            STRIATUM INJECTED 22155360.72 21927061.57
1   GLOBUS PALLIDUS UNINJECTED  2641202.72  2519962.21
0     GLOBUS PALLIDUS INJECTED  2537979.57  2424808.57

Overview dataframe with all Counts for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED      1272      1190
4    SUBSTANTIA NIGRA INJECTED      1069      1317
3          STRIATUM UNINJECTED      8046      7592
2            STRIATUM INJECTED      7956      7956
1   GLOBUS PALLIDUS UNINJECTED      1336      1238
0     GLOBUS PALLIDUS INJECTED      1307      1147

Overview dataframe with all Extrapolated Cell Count for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED     15264     14280
4    SUBSTANTIA NIGRA INJECTED     12828     15804
3          STRIATUM UNINJECTED     96552     91104
2            STRIATUM INJECTED     95472     95472
1   GLOBUS PALLIDUS UNINJECTED     16032     14856
0     GLOBUS PALLIDUS INJECTED     15684     13764

Overview dataframe with all Total Cell Area (μm²) for all brains

              Merged area name   131297-4   131344-1
5  SUBSTANTIA NIGRA UNINJECTED  684481.59  675413.87
4    SUBSTANTIA NIGRA INJECTED  569600.83  767620.69
3          STRIATUM UNINJECTED 5069018.18 4808182.26
2            STRIATUM INJECTED 4959199.13 5293083.70
1   GLOBUS PALLIDUS UNINJECTED  748786.76  715670.72
0     GLOBUS PALLIDUS INJECTED  723352.67  674140.89

Overview dataframe with all Average Cell Area (μm²) for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED    538.11    567.57
4    SUBSTANTIA NIGRA INJECTED    532.84    582.86
3          STRIATUM UNINJECTED    630.00    633.32
2            STRIATUM INJECTED    623.33    665.29
1   GLOBUS PALLIDUS UNINJECTED    560.47    578.09
0     GLOBUS PALLIDUS INJECTED    553.45    587.74

Overview dataframe with all Percentage IBA1 Positive Area for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED     24.69     25.38
4    SUBSTANTIA NIGRA INJECTED     23.66     26.04
3          STRIATUM UNINJECTED     22.57     22.83
2            STRIATUM INJECTED     22.38     24.14
1   GLOBUS PALLIDUS UNINJECTED     28.35     28.40
0     GLOBUS PALLIDUS INJECTED     28.50     27.80

Overview dataframe with all Average Area per Perimeter (μm) for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED      2.11      2.22
4    SUBSTANTIA NIGRA INJECTED      2.08      2.26
3          STRIATUM UNINJECTED      2.03      2.08
2            STRIATUM INJECTED      2.01      2.14
1   GLOBUS PALLIDUS UNINJECTED      2.24      2.32
0     GLOBUS PALLIDUS INJECTED      2.19      2.29

Overview dataframe with all Average Circularity for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED      0.12      0.12
4    SUBSTANTIA NIGRA INJECTED      0.11      0.12
3          STRIATUM UNINJECTED      0.09      0.10
2            STRIATUM INJECTED      0.09      0.10
1   GLOBUS PALLIDUS UNINJECTED      0.12      0.13
0     GLOBUS PALLIDUS INJECTED      0.12      0.12

Overview dataframe with all Cells per Region Area (mm²) for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED    458.81    447.23
4    SUBSTANTIA NIGRA INJECTED    443.99    446.72
3          STRIATUM UNINJECTED    358.29    360.50
2            STRIATUM INJECTED    359.10    362.84
1   GLOBUS PALLIDUS UNINJECTED    505.83    491.28
0     GLOBUS PALLIDUS INJECTED    514.98    473.03

Overview dataframe with all Cells per Region Vol (mm³) for all brains

              Merged area name  131297-4  131344-1
5  SUBSTANTIA NIGRA UNINJECTED  11470.33  11180.77
4    SUBSTANTIA NIGRA INJECTED  11099.71  11168.05
3          STRIATUM UNINJECTED   8957.21   9012.42
2            STRIATUM INJECTED   8977.51   9070.98
1   GLOBUS PALLIDUS UNINJECTED  12645.75  12281.93
0     GLOBUS PALLIDUS INJECTED  12874.41  11825.68

CPU times: total: 3.05 s
Wall time: 3.4 s